<div class="hero h-screen max-h-[900px]">
    <div class="container flex flex-col mdw:site-grid h-full place-content-center overflow-hidden">
        <div class="symbol-pattern absolute h-full left-0 w-full opacity-[0.08] overflow-hidden">
            <img class="absolute right-[50%] -top-[125px] max-w-[250px] rotate-12" src="/images/contor.png" />
            <img class="absolute right-[45%] top-[50px] max-w-[100px] rotate-[60deg]" src="/images/contor.png" />
            <img class="absolute right-[40%] top-[150px] max-w-[150px] rotate-[80deg]" src="/images/contor.png" />
            <img class="absolute right-[25%] top-[225px] max-w-[225px] rotate-[30deg]" src="/images/contor.png" />
            <img class="absolute right-[20%] top-[350px] max-w-[105px] rotate-[97deg]" src="/images/contor.png" />
            <img class="absolute right-[5%] top-[400px] max-w-[225px] rotate-[17deg]" src="/images/contor.png" />
            <img class="absolute -right-[100px] top-[570px] max-w-[225px] rotate-[17deg]" src="/images/contor.png" />
        </div>
        <div class="col-start-1 col-span-6 z-[1]">
            <h1 class="h1 !text-[80px] font-bold tracking-[-0.04em] !leading-[0.85]">{{ title | lower }}</h1>
            <div class="p !text-[18px] font-medium">Death once had a near-Chuck-Norris experience. Chuck Norris makes onions cry. Chuck Norris does not sleep. He waits.
            </div>
        </div>
    </div>
</div>