<div class="hero h-screen max-h-[900px] bg-white relative">
    <div class="container flex flex-col mdw:site-grid h-full place-content-center overflow-hidden">
        <div class="col-start-1 col-span-6 z-[1]">
            <div class="p !text-[18px] font-medium">Hey! I'm Dom 👋

I'm a Front-End Developer based out of Plymouth, UK. I specialise in creating digital solutions that are fun and creative. I don't like speaking about myself in the 3rd person.
            </div>
        </div>
    </div>
</div>