@font-face {
    font-family: Erode;
    font-style: bold;
    font-display: swap;
    font-weight: 700;
    src: url("/assets/fonts/erode/Erode-Bold.woff2") format("woff2"),
        url("/assets/fonts/erode/Erode-Bold.woff") format("woff");
}

@font-face {
    font-family: Erode;
    font-style: medium;
    font-display: swap;
    font-weight: 500;
    src: url("/assets/fonts/erode/Erode-Medium.woff2") format("woff2"),
        url("/assets/fonts/erode/Erode-Medium.woff") format("woff");
}

@font-face {
    font-family: Recia;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/recia/Recia-Regular.woff2") format("woff2"),
        url("/assets/fonts/recia/Recia-Regular.woff") format("woff");
}

@font-face {
    font-family: Recia;
    font-weight: 500;
    font-style: medium;
    font-display: swap;
    src: url("/assets/fonts/recia/Recia-Regular.woff2") format("woff2"),
        url("/assets/fonts/recia/Recia-Regular.woff") format("woff");
}