@font-face {
  font-family: 'Gentle';
  src: url("/fonts/gentle.woff2") format("woff2"),
    url("/fonts/gentle.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Rocher';
  src: url("/fonts/RocherColorGX.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("/fonts/Poppins-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Garamond';
  src: url("/fonts/eb-garamond.woff2") format("woff2"),
    url("//fonts/eb-garamond.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
