/*
  Global styles

  Low-specificity, global styles that apply to the whole
  project: https://cube.fyi/css.html
*/

/* Styles for the transitions (customize these) */
::view-transition-group(content) {
    animation: fade-in-out 0.3s both ease-in-out; /* Example fade */
}

@keyframes fade-in-out {
    from { opacity: 0; }
    to { opacity: 1; }
}


body {
    background: var(--color-light);
    color: var(--color-primary);
    font-size: var(--size-step-1);
    font-family: var(--font-base);
    line-height: var(--leading-standard);
    font-size-adjust: from-font;
    margin: 0;
}

main {

    @media (min-width: 768px) {
        padding-inline-start: 70px;
    }
}

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
  }
