@layer components {
    @layer base {
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        .heading-tagline,
        button {
            font-family: var(--font-heading);
            text-wrap: pretty;
            line-height: 0.85rem;
            letter-spacing: -0.02em;
        }

        @supports (:heading) {
            :heading {
                font-family: var(--font-heading);
                text-wrap: pretty;
                line-height: 1.85;
                letter-spacing: -0.02em;
            }
        }

        .h1 {
            font-size: clamp(3rem, 0.9783rem + 2.6087vw, 4.5rem);
        }

        .h1--upper {
            text-transform: uppercase;
        }

        .h2 {
            font-size: clamp(1.375rem, 1.0707rem + 1.5217vw, 2.25rem);
        }

        .h3,
        button.h3 {
            font-size: clamp(1.25rem, 1.163rem + 0.4348vw, 1.85rem);
            line-height: 1.85rem;
        }

        :is(.h4, .h5, .h6) {
            font-size: clamp(1.125rem, 1.038rem + 0.4348vw, 1.375rem);
        }

        .heading-tagline {
            font-size: clamp(2.25rem, 5.5435rem + 1.7826vw, 8.5rem);
            line-height: 0.85 !important;

            @media (width >= 768px) {
                line-height: 0.95 !important;
            }
        }

        .intro {
            font-size: clamp(1.125rem, 1.038rem + 0.4348vw, 1.375rem);
            font-family: var(--font-heading);
            text-wrap: pretty;
            line-height: 0.85rem;
            letter-spacing: -0.02em;
            font-weight: 300;
        }

        .nav-link {
            font-family: var(--font-base);
            font-weight: 400;
            font-size: clamp(1.125rem, 0.9946rem + 0.6522vw, 1.5rem);
            line-height: 120%;
            letter-spacing: -0.02em;
            color: var(--color-dark);
        }

        .nav-link--small {
            font-family: var(--font-base);
            font-style: normal;
            font-weight: 300;
            font-size: 1.125rem;
            line-height: 120%;
            letter-spacing: -0.02em;
        }

        .body-text > * {
            padding-block-start: 16px;
        }

        .standfirst {
            font-size: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
            line-height: 150%;
        }

        .current-job {
            background: var(--color-primary);
            color: var(--color-light);
            padding-inline: 8px;
            display: inline-block;
        }
    }
}
