@font-face {
    font-family: 'Rocher';
    src: url("/assets/fonts/rocher/RocherColorGX.woff2") format("woff2");
}

@font-face {
  font-family: theme("fontFamily.heading.0");
  src: url("/assets/fonts/infinity/infinity.otf") format("woff");
  font-weight: theme("fontWeight.bold");
  font-style: bold;
  font-display: swap;
}


@font-face {
  font-family: theme("fontFamily.main.0");
  src: url("/assets/fonts/infinity/infinity-regular.otf") format("woff");
  font-weight: theme("fontWeight.normal");
  font-style: normal;
  font-display: swap;
}
