html {
  @apply font-main text-[62.5%];
}

body {
  @apply fl-text-step-0;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .h1 {
    @apply fl-text-step-5 fl-mb-m;
  }

  .h2 {
    @apply fl-text-step-4 fl-mb-s;
  }

  .h3 {
    @apply fl-text-step-3 fl-mb-xs;
  }

  .heading {
    @apply font-heading leading-[1] font-bold tracking-[-0.04em];
  }

  .highlight {
    background-color: var(--background, #010f0a);
    color: var(--text, #ffffff);
    @apply p-[2px_15px_2px_10px] inline-block;
  }

  .typed {
    @apply overflow-hidden max-w-fit border-r-orange border-r-[10px] whitespace-nowrap;
    animation: typing 3.5s steps(30, end), blink-caret 0.85s step-end infinite;
  }

  .post-body h3 {
    @apply heading fl-text-step-3 fl-mt-m fl-mb-s;
  }

  .post-body h2 {
    @apply heading fl-text-step-4 fl-mt-l fl-mb-m;
  }

  .post-body h4 {
    @apply heading fl-text-step-2 fl-mt-s fl-mb-xs;
  }

  .post-body > p {
    @apply fl-mt-xs;
  }

  .post-body ol,
  .post-body ul {
    @apply pl-[20px] flex flex-col gap-y-[5px] fl-mt-xs;
  }

  .post-body ol {
    @apply list-decimal;
  }

  .post-body ul {
    @apply list-disc;
  }

  .post-body a:not([class]) {
    @apply underline hover:no-underline underline-offset-2;
  }

  .post-body > iframe {
    @apply fl-my-l;
  }

  .post-body .ciu_embed {
    @apply fl-mt-l fl-mb-s;
  }

  .post-body > img,
  .post-body > figure {
    @apply fl-my-l mx-auto;
  }

  /* .post-body > figure img {
    width: 100%;
  } */

  .post-body blockquote {
    @apply fl-py-l fl-my-l border-y-black/[0.25] border-dashed border-y-2 font-semibold italic fl-text-step-1 text-black/[0.75];
  }

  .post-body hr {
    @apply fl-mt-m fl-mb-m pb-[2px] bg-black;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.caption p {
  @apply heading fl-text-step-0 italic opacity-[0.65] text-left fl-mt-xs;
}
