a.underlined {
  text-decoration: none;
}
a.underlined:after {
  content: "";
  background: theme('colors.black');
  height: 2px;
  position: absolute;
  bottom: 2px;
  transition: 0.33s all;
  width: 0;
  left: 100%;
}

a.underlined:hover:after {
  transition: 0.33s width;
  width: 100%;
  left: 0;
}
