@layer components {
  @layer base {
    @scope (.growth-panel) {
      :scope {
        display: flex;
        flex-direction: column;
        gap: var(--space-xl);
        padding-block-end: var(--space-xl);
        
        @media (width >= 992px) {
            padding-block-start: 64px;
        }
      }
    }
  }
}
