.animated-link {
    --blur: 4px;
    --translate: 45%;

    display: flex;
    align-items: center;

    &:before {
        content: attr(data-link-title);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(var(--translate));
        filter: blur(var(--blur));
        transition: all 0.3s ease-in-out 0.05s;
        text-shadow: 0 0 1px var(--color-light);
        color: transparent;

        @supports (-webkit-text-stroke: 1px var(--color-light)) {
            -webkit-text-stroke: 1px var(--color-light);
            color: transparent;
            text-shadow: none;
        }
    }

    span {
        height: inherit;
        display: flex;
        align-items: center;
    }

    &:hover {
        --blur: 0px;
        --translate: 40%;
    }
}
