@layer components {
  @scope (.big-link) {
    :scope {
      border: none; /* border lives on ::before */
      position: relative;
      height: fit-content;
      width: fit-content;
      min-width: 250px;
      color: var(--color-light);
      font-weight: 400;
      font-family: var(--font-base);
      text-align: center;

      &::before,
      &::after {
        content: none;
      }

      & > span {
        padding: var(--space-m) var(--space-l);
        background-color: var(--color-dark);
        display: block;
        width: 100%;
      }
    }
  }
}
