.category-filters {
    padding-block-start: var(--space-xl);

    @media (width >= 768px) {
        max-width: 66%;
        margin-inline-start: auto;
    }

    .category-filter {
        padding-inline: var(--space-m);
        padding-block: var(--space-xs);
        border: 1px solid var(--color-dark);
        background-color: var(--color-light);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var(--color-dark);
            color: var(--color-light);
        }
    }

}
