.category-filters {
  display: flex;
  overflow: auto;
  align-items: center;
  gap: var(--space-s);
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-snap-align: start;
  scroll-snap-align: start;
  position: relative;

  .category-filter:last-child {
    margin-inline-end: var(--space-l);
  }

  .h3 {
    margin-inline-end: var(--space-s);
  }
}

.category-filter {
  font-family: var(--font-base);
  cursor: pointer;
  min-width: fit-content;
  transition: transform 0.25s ease-in-out;

  &:hover {
    transform: translateX(5px);
  }

  &::before {
    content: none;
  }

  &.active {
    transform: translateX(5px);
  }
}
