.category-filters {
  display: flex;
  overflow: auto;
  align-items: center;
  gap: 0;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-snap-align: start;
  scroll-snap-align: start;
  position: relative;

  .category-filter:last-child {
    margin-inline-end: var(--space-l);
  }

  .h3 {
    margin-inline-end: var(--space-s);
  }
}

.category-filter {
  color: #2c5364;
  text-decoration: none;
  background-image: linear-gradient(
    rgba(44, 83, 100, 0.35),
    rgba(44, 83, 100, 0.35)
  );
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition:
    background-size 0.85s cubic-bezier(0.23, 1, 0.32, 1),
    color 0.2s;
  padding: 2px 4px;
  border: none;

  &::before {
    content: none;
  }

  &:hover {
    background-size: 100% 100%;
  }

  &.active {
    background-size: 100% 100%;
  }
}
