pre,
.astro-code {
	border: 1px solid var(--color-dark, #000000) !important;
	background-color: var(--color-light, #ffffff) !important;
	padding-inline: 24px;
	padding-block: 24px;
	color: var(--color-dark, #000000) !important;
}

pre span,
.astro-code span {
	color: var(--color-dark, #000000);
}

:not(pre) > code {
	font-weight: 700;
	color: var(--color-red-900);
}
