/*.fyi-block {
	position: relative;
	/* border: 1px solid #000; */
/*padding: 32px 16px;
	background-color: color-mix(
		in srgb,
		var(--color-light) 25%,
		var(--color-dark) 25%
	);

	& .fyi-block__title {
		font-family: var(--font-heading);
		font-size: 1.5rem;
		font-weight: 600;
		color: var(--color-dark);
		margin-bottom: 16px;
		display: block;
	}
}*/
/**/
.fyi-block {
  border-left: 4px solid var(--color-accent);
  background: rgba(var(--color-accent-rgb), 0.08);
  padding: 16px 20px;
  margin: 28px 0;
  border-radius: 0 4px 4px 0;

  /*&::before {
    content: "Note";
    font-family: var(--font-base);
    font-size: 10px;
    letter-spacing: 0.14em;
    color: var(--accent);
    text-transform: uppercase;
    margin-bottom: 8px;
  }*/

  & .fyi-block__title {
    display: none;
  }

  & * {
    margin: 0;
    font-size: 15px;
  }

  & span:first-child {
    font-family: var(--font-base);
    font-size: 10px;
    letter-spacing: 0.14em;
    color: var(--accent);
    text-transform: uppercase;
    margin-bottom: 8px;
  }
}
