/*.fyi-block {
	position: relative;
	/* border: 1px solid #000; */
/*padding: 32px 16px;
	background-color: color-mix(
		in srgb,
		var(--color-light) 25%,
		var(--color-dark) 25%
	);

	& .fyi-block__title {
		font-family: var(--font-heading);
		font-size: 1.5rem;
		font-weight: 600;
		color: var(--color-dark);
		margin-bottom: 16px;
		display: block;
	}
}*/
/**/
.fyi-block {
	position: relative;
	padding-block: var(--space-s);
	padding-inline-start: var(--space-m);
	border-inline-start: 0.25rem solid var(--color-dark);

	&::before {
		content: "Note";
		display: block;
		font-style: italic;
		font-size: 1.25rem;
		color: var(--color-dark);
		margin-bottom: 16px;
		display: block;
	}

	& .fyi-block__title {
		display: none;
	}

	& *:not(.fyi-block__title) {
		opacity: 0.85;
	}
}
