.fyi-block {
    position: relative;
    /* border: 1px solid #000; */
    padding: 32px 16px;
    background-color: color-mix(in srgb, var(--color-light) 25%, var(--color-dark) 25%);

    & .fyi-block__title {
        font-family: var(--font-heading);
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--color-dark);
        margin-bottom: 16px;
        display: block;
    }
}
