@layer components {
  .grid:has(> .info-panel) {
    --gutter: 20px;
    --grid-placement: 4;
    @media (width >= 768px) {
      --grid-placement: auto-fit;
    }
  }

  .info-panel {
    --gutter: 0;

    overflow: hidden;
    border-block: 1px solid var(--color-dark);
    height: 38px;
    position: relative;
    user-select: none;
  }

  .info-panel::before,
  .info-panel::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: var(--color-dark);
  }

  .info-panel::before {
    left: 0;
    background: linear-gradient(to right, var(--color-light), transparent);
  }

  .info-panel::after {
    right: 0;
    background: linear-gradient(to left, var(--color-light), transparent);
  }

  .info-panel__details {
    gap: 0;
    display: flex;
    width: max-content;
    height: 100%;
    align-items: center;
  }

  .info-panel__detail {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 16px;
    height: 100%;
    font-size: 14px;
    letter-spacing: -0.03em;
    white-space: nowrap;
    border-right: 1px solid var(--color-dark);
    transition:
      color 0.2s,
      background 0.2s;
    cursor: default;
    position: relative;

    & span:last-child {
      padding-block-start: 4px;
    }
  }
}
