.info-panel {
    grid-column: span 12 / span 12;
    display: flex;
    justify-content: flex-end;
}

.info-panel__details {
    border: 0.5px solid var(--color-dark);
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    gap: 12px 24px;
    height: fit-content;
    flex-direction: column;
    width: 100%;

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        width: fit-content;
    }
}

.info-panel__detail {
    display: flex;
    align-items: center;
    column-gap: 8px;
    /* font-weight: 400; */
    /* font-size: 13px; */
    /* line-height: 120%; */
    letter-spacing: -0.02rem;
}
