@layer components {
    .grid:has( > .info-panel) {
        --gutter: 20px;
        --grid-placement: 4;
        @media (width >= 768px) {
            --grid-placement: auto-fit;
        }
    }

    .info-panel {
        display: flex;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 5;
        border: 1px solid var(--color-dark);

        @media (width >= 768px) {
            grid-column-start: 1;
            grid-column-end: 10;
        }
    }

    .info-panel--stuck {
        position: relative;

        @media (width >= 768px) {
            bottom: 40px;
        }
    }

    .info-panel__details {
        padding: 16px;
        display: flex;
        gap: var(--space-s);
        height: fit-content;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
            min-width: max-content;
            width: fit-content;
            gap: var(--space-m);
            padding-inline: 0;
        }
    }

    .info-panel__detail {
        display: flex;
        column-gap: 8px;
        /* font-weight: 400; */
        /* font-size: 13px; */
        /* line-height: 120%; */
        letter-spacing: -0.02rem;

        @media (width >= 768px) {
            align-items: center;
        }
    }
}
