.grid:has( > .info-panel) {
    --gutter: 20px;
    --grid-placement: 4;
    @media (width >= 768px) {
        --grid-placement: auto-fit;
    }
}

.info-panel {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;

    @media (width >= 768px) {
        grid-column-start: 1;
        grid-column-end: 10;
        margin-block-start: auto;
    }
}

.info-panel--stuck {
    position: relative;

    @media (width >= 768px) {
        bottom: 40px;
    }
}

.info-panel__details {
    border: 1px solid var(--color-dark);
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 12px 24px;
    height: fit-content;
    flex-direction: column;
    width: 100%;

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        width: fit-content;
    }
}

.info-panel__detail {
    display: flex;
    align-items: center;
    column-gap: 8px;
    /* font-weight: 400; */
    /* font-size: 13px; */
    /* line-height: 120%; */
    letter-spacing: -0.02rem;
}
