.joke {
    margin-bottom: 2rem;
    padding: 1rem;
    padding-bottom: 0;
    padding-right: 0;
    border: 1px solid var(--color-dark);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.joke__punchline {
    filter: blur(3px);
    transition: filter 0.3s ease;

    &.revealed {
        filter: blur(0);
    }
}

.joke__button {
    color: var(--color-primary);
    border-top: 1px solid var(--color-dark);
    border-left: 1px solid var(--color-dark);
    padding: 0.5rem 2rem;
    width: fit-content;
    align-self: flex-end;
    transition: all 0.3s ease;
    cursor: pointer;
}

.joke__actions {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
}

.joke__button:hover {
    background-color: var(--color-dark);
    color: white;
}

.joke__reactions {
    display: flex;
    gap: 16px;
}

.joke__reaction-btn {
    display: flex;
    gap: 6px;
    align-items: baseline;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}
