.grid:has( > .latest-card) {
    --grid-placement: 1;
    --gutter: 20px;

    @media (width >= 768px) {
        --grid-placement: 2;
    }

    @media (width >= 992px) {
        --grid-placement: 4;
    }

    & > .latest-card {
        grid-column: span 2;

    }
}

.latest-card {
    container: latest-card / inline-size;
    margin-top: 16px;
    width: 100%;
}

.latest-card__content {
    border: 1px solid var(--color-dark);
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: 16px;
    position: relative;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: color-mix(in srgb, var(--color-white) 80%, transparent);
    }

    span {
        font-size: 0.85rem;
        line-height: 1.25rem;
        text-transform: uppercase;
    }

    a {
        font-family: var(--font-heading);
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: -0.02em;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    @container latest-card (max-width: 425px) {
        a {
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
    }
}
