@layer components {
    .menubar {
        --gutter: var(--space-xs);
        display: flex;
        column-gap: var(--space-m);
        row-gap: var(--space-s);
        width: 100%;
        /* padding-block-start: var(--space-m); */

        @media (width >= 768px) {
            --gutter: var(--space-m);
        }

        li {
            display: flex;
            gap: var(--space-m);
            align-items: center;
        }

        .external-links,
        .internal-links {
            flex: 1;
            display: flex;
        }

        .external-links {
            --gutter: var(--space-s);
            opacity: 0.75;

            @media (width >= 768px) {
                justify-content: flex-end;
            }

            li {
                gap: var(--space-s);
            }
        }

        @scope (.nav-link) {
            font-size: clamp(1.25rem, 1.038rem + 0.4348vw, 1.375rem);
            font-family: var(--font-heading);
            text-wrap: pretty;
            line-height: 0.85rem;
            letter-spacing: -0.02em;
            font-weight: 300;
            &:hover {
                text-decoration: underline;
            }
        }

        @scope (.external-links .nav-link) {
            font-size: clamp(1.125rem, 0.8935rem + 0.4091vw, 1.125rem);
        }

    }
}
