.navigation {
    width: 100%;
    border: 0.5px solid var(--color-dark);
    background-color: var(--color-light);
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    position: relative;
    height: fit-content;
    bottom: 36px;
    margin-inline: auto;
}

.internal-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.internal-links a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
}

.internal-links a:hover,
.external-links a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}

.external-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
}

.navigation-large {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 72px;
    background-color: var(--color-light);
    width: calc(100vw - 72px);
    height: 100vh;
    display: flex;
    align-items: flex-start;
    padding-top: 25vh;
    padding-left: 25vh;
    justify-content: flex-start;
    z-index: 2;
}

@scope (.navigation-large) {
    .internal-links {
        gap: 40px;

    }
    .nav-link {
        font-size: 100px;
    }
}
