@layer components {
    .navigation {
        border: 0.5px solid var(--color-dark);
        background-color: var(--color-light);
        padding: var(--space-m);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 12px;
        position: relative;
        height: fit-content;
        margin-inline: auto;
        width: 100%;

        @media (min-width: 768px) {
            width: fit-content;
        }

        @media (min-width: 1024px) {
            bottom: var(--space-xl);
        }
    }

    @layer variations {
        .profile + .navigation {

            grid-column: span 12 / span 12;

            @media (min-width: 768px) {
                grid-column: 9 / span 4;
                bottom: 0;
            }

            @media (min-width: 992px) {
                grid-row: 1 / span 1;
            }

            @media (min-width: 1024px) {
                grid-row: 2 / span 1;
            }
        }
    }

    .internal-links {
        display: flex;
        flex-direction: row;
        gap: var(--space-m);

        li::marker {
            font-family: var(--font-heading);
            font-size: 1.25rem;
            line-height: 1.25rem;
            letter-spacing: -0.02em;
            font-weight: 400;
            font-style: normal;
            padding-inline-end: var(--space-s);
        }

        a:not(.nav-link) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: var(--space-s);
            font-family: var(--font-heading);
            font-size: 2rem;
            line-height: 2rem;
            letter-spacing: -0.02em;
            text-decoration: none;
            font-weight: 400;
            font-style: normal;
        }
    }

    .external-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--space-s);

        @media (min-width: 992px) {
            justify-content: space-between;
        }

        a {
            &:hover {
                text-decoration: underline;
                text-decoration-style: wavy;
                text-decoration-color: currentColor;
            }
        }
    }

    @container profile (max-width: 490px) {
        .navigation {
            width: 100%;
        }

        .external-links {
            flex-direction: column;
        }
    }

    @scope (.navigation-large) {

        .internal-links ul {
            list-style: decimal-leading-zero;
            gap: 20px;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .internal-links ul:has(>li:hover) > li:not(:hover) {
            opacity: 0.64;
            transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
        }

        .nav-link {
            color: var(--color-light);
        }
    }

    .menu-button {
        background-color: var(--color-white);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        inset-inline: 0;
        anchor-name: --menu-button;
        position: fixed;
        bottom: -2px;
        padding-block: var(--space-s);
        border-top: 1px solid var(--color-dark);
        height: fit-content;
        transition: .25s ease-in-out all;
        background-color: var(--color-dark);
        color: var(--color-light);
        z-index: 100;

        &:has(+ .navigation-large:popover-open) {
            top: calc(100dvh - 32%);
        }

        svg {
            width: 35px;
            height: 35px;
        }

        @media (min-width: 992px) {
            background-color: transparent;
            border: none;
            width: 60px;
            height: 60px;
            cursor: pointer;
            position: relative;
            color: var(--color-dark);
        }
    }

    .navigation-large {
        position: fixed;
        height: fit-content;
        top: calc(100dvh - 60px);
        left: 0;
        right: 0;
        padding: 25px;
        width: 100%;
        transition: .25s ease-in-out all;
        background-color: var(--color-dark);
        color: var(--color-light);
        z-index: 100;

        @media (min-width: 992px) {
            width: 100%;
            top: anchor(bottom);
            margin-block-start: 20px;
            left: auto;
            right: anchor(left);
            margin-inline-start: 80px;
            width: 100%;
            max-width: 528px;
        }

        & a svg {
            display: none;

        }

        & a span {
            transform: translateX(0) !important;
        }
    }

    .navigation-large:popover-open {
        display: flex;
        flex-direction: column;
        gap: 20px;
        top: calc(100dvh - 29%);

        .internal-links {
            padding-inline-start: 25px;
            gap: 16px;
        }

        @media (min-width: 992px) {
            top: anchor(bottom);
        }
    }
}

@layer utilities {
    .navigation-large a span {
        transform: translateX(0) !important;
    }
}
