@layer components {
	.menubar {
		--gutter: var(--space-xs);
		display: flex;
		column-gap: var(--space-m);
		row-gap: var(--space-s);
		width: 100%;
		/* padding-block-start: var(--space-m); */

		@media (width >= 768px) {
			--gutter: var(--space-m);
		}

		li {
			display: flex;
			gap: var(--space-m);
			align-items: baseline;
		}

		.external-links,
		.internal-links {
			--gutter: var(--space-s);
			flex: 1;
			display: flex;

			& li {
				gap: var(--space-s);
			}
		}

		.external-links {
			opacity: 0.75;

			@media (width >= 768px) {
				justify-content: flex-end;
			}
		}

		@scope (.nav-link) {
			font-size: clamp(1rem, 1.038rem + 0.4348vw, 1.05rem);
			/*font-family: var(--font-heading);*/
			text-wrap: pretty;
			line-height: 0.85rem;
			letter-spacing: -0.02em;
			font-weight: 300;
			&:hover {
				text-decoration: underline;
			}
		}

		@scope (.external-links .nav-link) {
			font-size: clamp(1rem, 1.038rem + 0.4348vw, 1.05rem);
		}
	}
}
