.about {
    --flow-space: var(--space-l);

    @media (width >= 768px) {
        --flow-space: 64px;
    }
}

.home {
    --grid-placement: 1;
    
    @media (width >= 992px) {
        --grid-placement: 2;
    }
}
