@layer components {
  @layer base {
    :has(> .pattern) {
      position: absolute;
      margin-inline: auto;
      left: -312px;
      top: -2px;
      bottom: 0;
      right: 0;
    }
    :has(> .pattern-banner) {
      overflow: hidden;
    }
    @scope (.pattern) {
      :scope {
        opacity: 0.1;
      }
    }
    @scope (.pattern-banner) {
      :scope {
        height: 64px;
        opacity: 0.64;

        @media (width > 768px) {
          height: 128px;
        }
      }
    }
  }
}
