@layer components {
    .post-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5";

            @media (width >= 768px) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-template-areas:
                    "item1 item2"
                    "item3 item4"
                    "item5 item5";
            }

            @media (width >= 1024px) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-template-areas:
                    "item1 item2 item4"
                    "item1 item3 item4"
                    "item1 item3 item5";
            }
    }

    .post-grid__item,
    .feature-panel__item {
        position: relative;
        background: var(--color-light);
        transition: background 0.3s ease-in-out;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(in oklch 151deg, #222222 0.0%, var(--feature-color, #2c5364) 100.0%);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            z-index: 0;
        }

        &:hover {
            color: var(--color-white);
            &::before {
                opacity: 1;
            }
        }

        & .post-grid__content {
            position: relative;
        }
    }

    .post-grid__item-1,
    .feature-panel__item-1 {
        --feature-color: #149c90;
    }

    .post-grid__item-2,
    .feature-panel__item-2 {
        --feature-color: #137783;
    }

    .post-grid__item-3,
    .feature-panel__item-3 {
        --feature-color: #55c08c;
    }

    .post-grid__item-4 {
        --feature-color: #636d93;
    }

    .post-grid__item-5 {
        --feature-color: #a1df7d;
    }
}
