.post {
	--transition-speed: 0.25s;

	transition:
		opacity var(--transition-speed) ease-in-out,
		color var(--transition-speed) ease-in-out;
	border-bottom: 1px solid var(--color-dark);
	padding-block: var(--block-space, var(--space-s));
	padding-inline: var(--inline-space, var(--space-m));
	display: flex;
	flex-direction: column;
	row-gap: var(--space-m);
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--color-dark);
		transform: scaleY(0);
		transform-origin: top;
		transition: none;
		z-index: -1;
	}

	& a {
		transition: transform var(--transition-speed) ease-in-out;
		position: relative;
		z-index: 1;
	}

	& > * {
		position: relative;
		z-index: 1;
	}

	&.post--hover-top {
		color: var(--color-light);

		&::before {
			transform: scaleY(1);
			transform-origin: top;
			transition: transform var(--transition-speed) ease-in-out;
		}
	}

	&.post--hover-bottom {
		color: var(--color-light);

		&::before {
			transform: scaleY(1);
			transform-origin: bottom;
			transition: transform var(--transition-speed) ease-in-out;
		}
	}

	&.post--exit-top {
		&::before {
			transform: scaleY(0);
			transform-origin: top;
			transition: transform var(--transition-speed) ease-in-out;
		}
	}

	&.post--exit-bottom {
		&::before {
			transform: scaleY(0);
			transform-origin: bottom;
			transition: transform var(--transition-speed) ease-in-out;
		}
	}
}
