.post {
	/* opacity: 0.5; */
	transition: opacity 0.3s ease-in-out;
	border-bottom: 1px solid var(--color-dark);
	padding-bottom: var(--space-xl);
	margin-bottom: var(--space-xl);
	display: flex;
	flex-direction: column;
	row-gap: var(--space-s);
	position: relative;

	& a {
		transition: transform 0.3s ease-in-out;
	}

	&:hover {
		& a {
			transform: translateX(10px);
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

/*.post--active {
	opacity: 1;
}*/

/*.post-item:nth-child(1 of :not([style*="display: none"])) {
	.post {
		opacity: 1;
	}
}*/
