.post {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    border-bottom: 1px solid var(--color-dark);
    padding-bottom: var(--space-xl);
    margin-bottom: var(--space-xl);
    display: flex;
    flex-direction: column;
    row-gap: var(--space-m);

    &:hover {
        opacity: 1;
    }

    &--active {
        opacity: 1;
    }
}

.post--active {
    opacity: 1;
}

.post-item:nth-child(1 of :not([style*="display: none"])) {
    .post {
        opacity: 1;
    }
}
