.post {
	transition: opacity 0.3s ease-in-out;
	border-bottom: 1px solid var(--color-dark);
	padding-block: var(--space-m);
	padding-inline: var(--space-m);
	display: flex;
	flex-direction: column;
	row-gap: var(--space-m);
	position: relative;

	& a {
		transition: transform 0.3s ease-in-out;
	}

	&:hover {
		background: var(--color-dark);
		color: var(--color-light);
		& a {
			/*transform: translateX(10px);*/
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

/*.post--active {
	opacity: 1;
}*/

/*.post-item:nth-child(1 of :not([style*="display: none"])) {
	.post {
		opacity: 1;
	}
}*/
