@layer components {
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  .scroll-heading {
    --gap: var(--space-l);
    --scroll-range: 50vh;

    display: flex;
    user-select: none;
    gap: var(--gap);

    & .scroll-heading__content {
      flex-shrink: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-width: 0;
      gap: var(--gap);
      padding-inline: var(--inline-spacing, 0);
      animation: scroll linear forwards;
      animation-timeline: scroll();
      animation-range: 0vh var(--scroll-range);
      opacity: 0.15;

      &:first-child {
        opacity: 1;
      }
    }

    @media (width <= 768px) {
      --scroll-range: 25vh;
    }
  }
}
