@layer components {
    .site-header {
        width: 100%;
        height: fit-content;
        left: 0;
        right: 0;
        width: calc(100% - 32px);
        z-index: 1;
        margin-block-start: var(--padding-block, 8px);
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: var(--color-light); */
        transition: padding-block 0.3s ease-in-out;
        will-change: padding-block;

        @media (min-width: 768px) {
            padding-block: var(--padding-block, var(--space-m));
            position: fixed;
            top: 0;
            z-index: 100;
            border-top: 2px solid var(--color-dark);
        }
    }
}

@supports (animation-timeline: scroll()) {
    .site-header {
        animation: header-size ease-in-out both;
        animation-timeline: scroll();
        animation-range: 0 25vh;
    }

    .logo-text {
        animation: logo-text-visibility ease-in-out both;
        animation-timeline: scroll();
        animation-range: 0 25vh;
    }
}

@keyframes logo-text-visibility {
    to {
        opacity: 0;
    }
}

@keyframes header-size {
    to {
        --padding-block: 10px;
    }
}
