@layer components {
  .statistics-grid {
    height: fit-content;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5";

    @media (width >= 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "item1 item2 item3";
      grid-template-rows: repeat(1, 1fr);
    }

    @media (width >= 1024px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "item1 item2 item3";
    }
  }

  .statistics-grid__item {
    position: relative;
    background: var(--color-light);
    transition: background 0.3s ease-in-out;
    padding: 0 var(--space-m) var(--space-m);
    border-bottom: 1px dashed var(--color-dark);

    &:last-child {
      border-bottom: none;
    }

    & .statistics-grid__content {
      position: relative;
      display: flex;
      flex-direction: column;
    }
  }
}
