.toc {
}

.toc ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    /* padding-left: 16px; */
}

.toc li {
    padding-left: 16px;
    padding-block: var(--space-s);
    border-left: 2px solid rgba(34, 34, 34, 0.5);
    position: relative;
    transition: all 0.3s ease-in-out;

    &:has(>.active-toc-item) {
        /* background: linear-gradient(90deg,rgba(34, 34, 34, 0.25) 0%, rgba(251, 248, 239, 1) 100%); */
        &::before {
            content: '';
            position: absolute;
            left: -1px;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg,rgba(34, 34, 34, 0.25) 0%, rgba(251, 248, 239, 1) 100%);
            border-left: 3px solid var(--color-dark);
        }
    }
}

.toc a {
}
