---
title: 'About'
tagline: 'Creative Front End Developer, writer, music nerd.'
intro: "Hi 👋. My name's Dom and I'm a Front-end Developer currently working at Series Eight. In the past, I have worked at Rowe IT, GOSS Interactive, n9Design and Logo CCP, and graduated from Bournemouth University with a BSc in Computing."
text: "Over my time in design agencies and private sector work, I have gathered a knowledge for all round user experience, whilst incorporating accessibility and creativity as a standard in my work. You can see a more indepth account of my work history on my <a href='/docs/resume.pdf' target='_blank'>resume</a>. My current role at <span class='highlight'>Series Eight</span> as a <span class='highlight'>Front-End Developer</span> allows me to work on a wide range of technologies and processes.

I make consistent updates to this site; both with the visuals and with the content. I treat this site as a playground to try out things I have learnt or want to get using. I am constantly writing in my blog here, or putting together small projects on <a href='https://codepen.io/dominickjay217' target='_blank'>CodePen</a>."
layout: 'layouts/default.njk'
---

<div class="col-start-1 col-span-6 z-[1] mdw:fl-pt-3xl">
    <h1 class="h1 !text-[80px] font-bold tracking-[-0.04em] !leading-[0.85]">{{ title | lower }}</h1>
    <span class="text-blue/[0.85] font-bold">{{ tagline | lower }}</span>
</div>
<div class="fl-pb-xl fl-my-xl col-start-1 col-span-full">
    <div class="max-w-[850px]">
        <div class="fl-text-step-1 font-bold">{{ intro }}</div>
        <div class="fl-mt-s">{{ text | safe }}</div>{% set career = about.career[0] %}
        <div
            class="fl-mt-l"
        >

            {% edge "njk" %}

                This track is {{ myData }}
            {% endedge %}
            <h3 class="heading fl-text-step-4">Now</h3>
            <div class="fl-mt-xs">Current working as:
                <span class="font-bold">{{ career.role }}</span>
                for
                <a href="{{ career.companyLink }}" target="_blank" rel="noopener">
                    <span class="font-bold">{{ career.company }}</span>
                </a>
            </div>
            <div class="fl-mt-xs">Currently reading:
                <ul class="list-disc fl-pl-m fl-mt-s">
                    {% for item in books %}
                        <li>
                            <span class="font-bold">{{ item.title }}</span>
                            by
                            <span class="font-bold">{{ item.author }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>