---
title: 'leave it better than you found it'
intro: "Hello! I'm Dom 👋 I'm a <span class='text-red font-bold'>Front-End Developer</span> based out of Plymouth, UK. I specialise in creating digital solutions that are fun and creative. I don't like speaking about myself in the 3rd person."
metaTitle: 'dom jay | front end developer'
metaDesc: 'Dominick Jay is an experienced creative Front-End Developer from Plymouth, UK, that specializes in fun, creative solutions.'
layout: 'layouts/home.njk'
---
