---
title: 'Now'
layout: 'layouts/default.njk'
---

<div class="col-start-1 col-span-6 z-[1] pt-[80px]">
    <h1 class="h1 !text-[80px] font-bold tracking-[-0.04em] !leading-[0.85]">{{ title | lower }}</h1>
</div>
<div class="fl-mt-xl col-start-1 col-span-full">
    <div class="max-w-[850px]">
        

        {% set recentlyPlayed = lastfm.recenttracks.track %}
        <div class="fl-mt-l">Currently listening to:
            <span class="font-bold">{{ recentlyPlayed[0].name }}</span>
            by
            <span class="font-bold">{{ recentlyPlayed[0].artist['#text'] }}</span>
        </div>
    </div>
</div>
