---
title: 'Uses'
layout: 'layouts/default.njk'
---

<div class="col-start-1 col-span-6 z-[1] pt-[80px]">
    <h1 class="h1 !text-[70px] mdw:!text-[80px] font-bold tracking-[-0.04em] !leading-[0.85]">{{ title | lower }}</h1>
</div>
<div class="fl-mt-xl col-start-1 col-span-full">
    <div class="mdw:max-w-[850px]">

    </div>
</div>
