<header
	class="py-[20px] fixed top-[0px] w-full z-20 border-t-8 border-black"
	role="banner"
	x-data="{
		scrolled: false,
		menu: false,

		init() {
			this.checkScroll();
		},
		checkScroll() {
			this.scrolled = window.scrollY > 250;
		}
	}"
	@scroll.window="checkScroll()"
	x-cloak
>
	<div
		class="wrapper flex justify-between items-center duration-[.5s] ease-linear"
		:class="{
			'wrapper': !scrolled,
			'mdw:max-w-[2000px] mx-auto fl-px-l': scrolled
		}"
	>
		<a class="logo logo--rotate" href="/">
			<span class="sr-only">Link to homepage</span>
			{% include "partials/icons/logo.svg" %}
		</a>
		{% if navigation.main | length %}
			<button
				class="button button--ghost fl-text-step-1 heading"
				@click="$dispatch('toggle-menu'), menu != menu"
			>Menu</button>
		{% endif %}
	</div>
</header>