@media (hover: hover) and (pointer: fine) {
  .custom-cursor-dot {
      background-color: theme('colors.black');
      border-radius: 100%;
      height: 0;
      left: 50%;
      left: 0;
      mix-blend-mode: difference;
      pointer-events: none;
      position: fixed;
      top: 50%;
      top: 0;
      transform: translate(calc(var(--mouse-x) - 50%),calc(var(--mouse-y) - 50%));
      transition-duration: .3s,.3s,0ms,0ms;
      transition-property: width,height,transform;
      transition-timing-function: ease-out;
      width: 0;
      will-change: width,height,transform;
      z-index: 999;
  }

  .cursor-trigger:hover .custom-cursor-dot {
      width: 80px;
      height: 80px;
  }
}
