.fyi-block {
  @apply overflow-hidden fl-p-m font-medium fl-text-step-1 font-heading fl-my-l border-l-[12px] flex flex-col gap-y-[8px];
}

.fyi-block strong:first-child {
  @apply h3 heading block;
}

.fyi-block--warning {
  @apply border-red;
}

.fyi-block--prerequisites {
  @apply border-0 bg-black text-white;
}

.fyi-block p {
  @apply mt-0;
}

.fyi-block span:first-child {
  @apply fl-text-step-2;
}

.fyi-block .svg-icon {
  @apply absolute -right-[90px] -top-[90px] opacity-[0.15] h-[250px] rotate-[45deg];
}

.fyi-block .svg-icon svg {
  @apply h-full w-auto;
}

.fyi-block .svg-icon path {
  @apply !fill-white;
}
