.glitch-text__text {
  --clip-path-before: polygon(0 0, 100% 0, 100% 39%, 0 39%);
  --clip-path-after: polygon(0 42%, 100% 42%, 100% 100%, 0 100%);
  --left: -5px;
  --right: -5px;
  @apply h1--alt;
  font-family: theme('fontFamily.heading');
  position: relative;
  color: transparent;
  width: 100%;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: theme('colors.black');
    height: 100%;
    width: 100%;
  }
  &::before {
    clip-path: var(--clip-path-before);
    left: var(--left);
  }
  &::after {
    clip-path: var(--clip-path-after, none);
    right: var(--right);
  }
}
