.category {
  @apply text-[18px] px-[30px] py-[10px] text-black/[0.8] bg-black/[0.08] rounded-[10px] hover:bg-black/[0.85] hover:text-white/[0.8] font-heading duration-[0.2s] ease-linear;
}

.category--reverse {
  @apply text-white/[0.85] bg-white/[0.35] hover:bg-white/[0.85] hover:text-black/[0.8];
}

.topic {
  color: var(--topic-color, theme('colors.black'));
  opacity: 0.85;
}

.topic--javascript,
.topic--alpine {
  --topic-color: theme('colors.red');
}

.topic--css,
.topic--grid,
.topic--pocket-css {
  --topic-color: theme('colors.orange');
}

.topic--personal {
  --topic-color: theme('colors.green');
}

.topic--spotlight {
  --topic-color: theme('colors.green');
}

.topic--page-turners {
  --topic-color: theme('colors.green');
}

.topic--productivity {
  --topic-color: #404E7C;
}

.topic--weeknotes {
  --topic-color: theme('colors.pink');
}

.topic.category {
  @apply hover:bg-black/[0.25];
  color: theme('colors.black');
  border: 2px solid var(--topic-color);
}

@supports (background: paint(slanted-bg)) {
  .topic.category span {
  }
}
