@layer utilities {
    .box-link {
        display: block;

        &:before {
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 20;
        }

    }
}
