.growth {
  font-family: var(--font-base);
  font-size: 14px;
  letter-spacing: 0.14em;
  color: #486405;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #486405;
  padding: 6px 12px 1px;
  width: fit-content;

  @media (width < 768px) {
    font-size: 12px;
    padding: 4px 12px 1px;
  }
}
