---
layout: main.njk
---

{% block content %}
<div class="hero min-h-screen">
  <div class="container flex flex-col mdw:site-grid h-full overflow-hidden pt-[150px]">
    {{ content | safe }}
  </div>
</div>
{% endblock %}
