---
layout: default
---

{% block content %}
<section class="fl-py-xl">
  <div class="container">
    <div class="dictionary">
      <span>Allons-y</span>
      <div>[ah-lo(n)-zee] <strong>adjective</strong></div>
      <ul>
        <li>(informal) first-person plural imperative of y aller</li>
        <li>(informal) come with me, follow me</li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
