---
layout: main
---

{% block content %}
  {% include "partials/home/home--hero.njk" %}
  {% include "partials/home/home--about.njk" %}
  {% include "partials/layout--recent-posts.njk" %}
{% endblock %}
