{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-4YW8F6BSY1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-4YW8F6BSY1');
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="generator" content="Eleventy">
		{% include "partials/metadata--info.njk" %}
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
		<meta name="theme-color" content="#ffffff">
		<!-- synchronous css / inline css  -->
		<link rel="stylesheet" href="/assets/css/global.css?{{ assetHash }}" />
		<link
			rel="preload"
			href="/assets/fonts/erode/Erode-Bold.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/assets/fonts/erode/Erode-Medium.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/assets/fonts/recia/Recia-Medium.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/assets/fonts/recia/Recia-Regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>

		<script src="/assets/js/alpine.js?v={% version %}" defer></script>
		<script src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
		{% if page.url == "/" %}
			{% ogImage "./src/og-image.og.njk", { title: title } %}
		{% else %}
			{% ogImage "./src/og-image.og.njk", { title: title, siteName:  site.name } %}
		{% endif %}
	</head>
	<body>
		<a class="skip-link" href="#main-content">Skip to main content</a>

    	{% include "partials/global/menu.njk" %}
    	{% include "partials/global/header.njk" %}

		<main class="main mb-[540px] mdw:mb-[650px] bg-white z-10 relative overflow-hidden" tabindex="-1" id="main-content">
			{% block content %}
				{{ content | safe }}
			{% endblock %}
		</main>

		{% include "partials/global/footer.njk" %}

	</body>
</html>
