{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-4YW8F6BSY1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-4YW8F6BSY1');
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		{% include "partials/metadata--info.njk" %}
		<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
		<meta name="theme-color" content="#ffffff">
		<!-- synchronous css / inline css  -->
		<link rel="stylesheet" href="/assets/css/global.css?{{ assetHash }}" />
		<link
			rel="preload"
			href="/assets/fonts/erode/Erode-Bold.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/assets/fonts/erode/Erode-Medium.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/assets/fonts/recia/Recia-Medium.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/assets/fonts/recia/Recia-Regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>

		<script src="/assets/js/alpine.js?v={% version %}" defer></script>
		<script src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/ireade/caniuse-embed/public/caniuse-embed.min.js"></script>
		{% if page.url == "/" %}
			{% ogImage "./src/og-image.og.njk", { title: title } %}
		{% else %}
			{% ogImage "./src/og-image.og.njk", { title: title, siteName:  site.name } %}
		{% endif %}
	</head>
	<body>
		<a class="skip-link" href="#main-content">Skip to main content</a>

    	{% include "partials/global/menu.njk" %}

		<header
			class="py-[20px] fixed top-0 w-full z-20 border-t-8 border-black"
			x-data="{
				scrolled: false,
				menu: false,

				init() {
					this.checkScroll();
				},
				checkScroll() {
					this.scrolled = window.scrollY > 250;
				}
			}"
			@scroll.window="checkScroll()"
			x-cloak
		>
			<div
				class="container flex justify-between items-center duration-[.5s] ease-linear"
				:class="{
					'container': !scrolled,
					'mdw:max-w-[2000px] mx-auto fl-px-l': scrolled
				}"
			>
				<a class="logo group duration-[0.3s] ease-linear -rotate-[25deg] hover:-rotate-[15deg] text-black" href="/">
					<span class="sr-only">Link to homepage</span>
					{% include "partials/icons/logo.svg" %}
				</a>
				{% if navigation.main | length %}
				<button
					class="fl-text-step-1 font-heading hover:underline hover:underline-offset-2"
					@click="$dispatch('toggle-menu'), menu != menu"
				>Menu</button>
				{% endif %}
			</div>
		</header>

		<main class="main mb-[540px] mdw:mb-[650px] bg-white z-10 relative overflow-hidden" tabindex="-1" id="main-content">
			{% block content %}
				{{ content | safe }}
			{% endblock %}
		</main>

		<footer class="fixed w-full bg-black bottom-0 py-[100px] mdw:p-[10vh_0_10vh] mdw:min-h-[650px] flex flex-col justify-center items-center">
			<div class="container flex flex-col mdw:site-grid h-full overflow-hidden">
				<div class="col-start-1 col-span-3 text-orange">
					<span class="fl-text-step-5 heading ">Want to get in touch?</span>
				</div>
				<div class="col-start-6 col-span-7 flex flex-col mdw:flex-row gap-x-[160px] gap-y-[25px] mdw:gap-y-[52px] items-start fl-mt-m">
					<div class="flex flex-col">
						<span class="text-white/[0.5] font-heading fl-text-step-0 tracking-[0.06em] uppercase">Contact</span>
						<a
							class="font-heading font-medium tracking-[0.03em] text-white mt-[8px] mdw:mt-[19px] fl-text-step-1"
							href="mailto:hello@dominickjay.com"
						>
							hello@dominickjay.com
						</a>
						<ul class="flex fl-mt-s gap-x-[10px]">

							{% for item in navigation.socialmedia %}
							<li class="py-[4px] hover:underline hover:underline-offset-2">
								<a
									href="{{ item.url}}"
									class="flex text-white hover:text-white/[0.85] ease-in-out duration-[0.25s]"
								>
									<span class="sr-only">{{ item.text }}</span>
									<span class="flex items-center justify-center h-[40px] w-[40px]">{{ item.imagePath | safe }}</span>
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="flex flex-col">
						<div class="flex justify-end">
						{% if navigation.main | length %}
							<nav
								class="ml-auto min-w-[200px]"
								aria-label="secondary"
							>
								<span class="text-white/[0.5] font-heading fl-text-step-0 tracking-[0.06em] uppercase">Pages</span>
								<ul class="flex flex-row gap-x-[25px] mdw:gap-0 mdw:flex-col mt-[8px] mdw:mt-[19px]">
									{% for item in navigation.main%}
									<li class="py-[4px] hover:underline hover:underline-offset-2">
										<a
											href="{{ item.url}}"
											class="text-white"
										>
											{{ item.text }}
										</a>
									</li>
									{% endfor %}
									{% for item in navigation.secondary %}
									<li class="py-[4px] hover:underline hover:underline-offset-2">
										<a
											href="{{ item.url}}"
											class="text-white"
										>
											{{ item.text }}
										</a>
									</li>
									{% endfor %}
								</ul>
							</nav>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="flex flex-col mdw:flex-row gap-[10px] mdw:gap-x-[150px] col-start-6 col-span-7 fl-mt-l">
					<span class="text-white/[0.85] font-bold fl-text-step-0">Last Build: <span class="text-white font-bold">{{ site.builtAt }}</span></span>
					<small class="text-white/[0.85] font-bold fl-text-step-0">© 2015 - {% year %} - Dominick Jay</small>
				</div>
			</div>
		</footer>
	</body>
</html>
