---
layout: main
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>

{% block content %}
	{% caniuse_js %}
	{% include "partials/posts/post--hero.njk" %}
	<div class="container flex flex-col mdw:site-grid">
		<article class="col-start-1 col-span-8 row-start-1 post-body mdw:max-w-[900px] fl-py-l mdw:fl-py-3xl">
			<div class="fl-text-step-1 font-bold tracking-[-0.04em]">
				{{ intro | safe }}
			</div>
			<div
        class="fl-mt-l post-body"
        x-data="{
          init() {
            const img = document.querySelector('.album-image');
            const colorThief = new ColorThief();

            console.log(img);

            if (img) {
              setTimeout(() => {
                if (img.complete) {
                  console.log(colorThief.getPalette(img, 3));
                  document.querySelector('.album-profile').style.setProperty('--shadow', `rgb(${colorThief.getPalette(img, 3)[0]})`);
                  document.querySelector('.color-grid').style.setProperty('--opacity', '1');
                  document.querySelector('.color--1').style.setProperty('--firstColor', `rgb(${colorThief.getPalette(img, 3)[0]})`);
                  document.querySelector('.color--2').style.setProperty('--secondaryColor', `rgb(${colorThief.getPalette(img, 3)[1]})`);
                  document.querySelector('.color--3').style.setProperty('--thirdColor', `rgb(${colorThief.getPalette(img, 3)[2]})`);
                } else {
                  console.log('nope')
                }
              }, '1000');
            }
          }
        }"
      >
				{{ content | safe }}
			</div>
		</article>
	</div>
{% endblock %}
