<header
	class="py-[20px] fixed top-0 w-full z-20"
	x-data="{
		scrolled: false,

		init() {
			this.checkScroll();
		},

		checkScroll() {
			this.scrolled = window.scrollY > 150;
		}
	}"
	@scroll.window="checkScroll()"
	x-cloak
>
	<div
		class="container flex justify-between items-center duration-[.5s] ease-linear"
		:class="{
			'container': !scrolled,
			'mdw:max-w-[2000px] mx-auto fl-px-l': scrolled
		}"
	>
		<a class="group" href="/">
			{% include "partials/icons/logo.svg" %}
		</a>
		{% if navigation.main | length %}
		<nav class="ml-auto" aria-label="primary">
			<ul class="flex">
				{% for item in navigation.main %}
				<li class="px-[16px] border-l border-dashed border-l-black/[0.85] first:border-none">
					<a
						class="text-black font-bold"
						href="{{ item.url}}"
					>
						{{ item.text }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
		{% endif %}
	</div>
</header>