---
title: 'Writing'
layout: 'default.njk'
---
<div class="flex flex-col-reverse grid-cols-8 col-start-1 col-span-full mdw:grid mdw:fl-py-3xl">
    <section class="col-span-5 col-start-1 row-start-1">
        <h1 class="hidden mdw:block h1 heading !text-[70px] mdw:!text-[80px] font-bold tracking-[-0.04em] !leading-[0.85]">{{ title | lower }}</h1>

        {% set postslist = collections.writing %}
        {% set postslistCounter = collections.writing | length %}

        <ol
            reversed
            class="fl-pt-xl"
            style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}"
        >
            {% for post in postslist | reverse %}
                <li class="fl-mt-l first:mt-0 border-b-2 border-dashed border-black/[0.25] last:border-none fl-pb-l">
                    <div class="flex flex-col gap-y-[10px] justify-start items-start">
                        <span class="text-black/[0.5] font-bold">{{ post.date | readableDate() }}</span>
                      <a
                            href="{{ post.url | url }}"
                            class="fl-text-step-2 font-bold relative underlined"
                        >
                            {% if post.data.title %}
                                {{ post.data.title }}
                            {% else %}
                                <code>{{ post.url }}</code>
                            {% endif %}
                        </a>
                        <div>
                            {{ post.data.description }}
                        </div>
                        <div class="flex flex-wrap gap-x-[5px] fl-mt-xs">
                            {% for tag in post.data.tags %}
                                {% if tag != 'writing' %}
                                    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                                    <a
                                        href="{{ tagUrl | url }}"
                                        class="category topic topic--{{tag | slugify}}"
                                    >
                                        <span>{{ tag }}</span>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
        <h2 class="h2 heading fl-mt-l">Features</h2>
        <ol
            reversed
            class="fl-pt-l"
            style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}"
        >
            {% for post in features.features | reverse %}
                <li class="fl-mt-l first:mt-0 border-b border-dashed border-black/[0.25] last:border-none fl-pb-l">
                    <div class="flex flex-col gap-y-[10px]">
                        <a
                            href="{{ post.url | url }}"
                            rel="noopener"
                            target="_blank"
                            class="fl-text-step-2 font-bold text-black/[0.75] hover:underline hover:underline-offset-2"
                        >
                            {{ post.text }}
                        </a>
                        <span class="text-black/[0.8]">{{ post.site }}</span>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </section>

    <aside class="col-span-2 col-start-7 row-start-1 mdw:fl-pt-3xl">
    <h1 class="block mdw:hidden h1 heading !text-[70px] mdw:!text-[80px] font-bold tracking-[-0.04em] !leading-[0.85]">{{ title | lower }}</h1>
        <div class="fl-pt-xl fl-text-step-0">
            I write about technologies that I'm currently diving into, my development on this site, setups and goals. In these <span class="font-heading font-bold fl-text-step-1 leading-[1]">{{ postslist.length }}</span> posts, I go through problems, solutions and how I am - infact - not Batman.
        </div>
    </aside>
</div>
