---
title: 'Writing'
layout: 'default.njk'
---
<div class="flex flex-col-reverse grid-cols-8 col-start-1 col-span-full mdw:grid mdw:fl-py-3xl">
    <section class="col-span-5 col-start-1 row-start-1">
        <h1 class="hidden mdw:block h1 heading !text-[70px] mdw:!text-[80px] font-bold tracking-[-0.04em] !leading-[0.85]">{{ title | lower }}</h1>

        {% set postslist = collections.writing %}
        {% set postslistCounter = collections.writing | length %}

        <ol
            reversed
            class="fl-pt-xl"
            style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}"
        >
            {% for post in postslist | reverse %}
                {{ post.data.title }}
            {% endfor %}
        </ol>
        <h2 class="h2 heading fl-mt-l">Features</h2>
        <ol
            reversed
            class="fl-pt-l"
            style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}"
        >
            {% for post in features.features | reverse %}
                {{ post.text }}
            {% endfor %}
        </ol>
    </section>

    <aside class="col-span-2 col-start-7 row-start-1 mdw:fl-pt-3xl">
    <h1 class="block mdw:hidden h1 heading !text-[70px] mdw:!text-[80px] font-bold tracking-[-0.04em] !leading-[0.85]">{{ title | lower }}</h1>
        <div class="fl-pt-xl fl-text-step-0">
            I write about technologies that I'm currently diving into, my development on this site, setups and goals. In these <span class="font-heading font-bold fl-text-step-1 leading-[1]">{{ postslist.length }}</span> posts, I go through problems, solutions and how I am - infact - not Batman.
        </div>
    </aside>
</div>
