---
import Layout from '../layouts/About.astro';
import profileImage1 from '../../public/images/profile-image.png';
import profileImage2 from '../../public/images/kid-image.png';
import { Image } from 'astro:assets';
import { ABOUT_CONTENT } from '../consts';
import Joke from '../components/Joke.astro';
import Song from '../components/Song.astro';
import GitHubContributions from '../components/GitHubContributions.astro';
// Convert line breaks to <br> tags
const contentWithBreaks = {
	short: ABOUT_CONTENT.short.replace(/\n/g, '<br>'),
	medium: ABOUT_CONTENT.medium.replace(/\n/g, '<br>'),
	long: ABOUT_CONTENT.long.replace(/\n/g, '<br>')
};
---

<Layout
	title="About Me"
	description="creative front end developer, writer, music nerd."
	pubDate={new Date('August 08 2021')}
>
	<div class="grid grid-cols-6" style="--grid-placement: 6; --gutter: 43px;"
		x-data={`{
			selected: 'short',
			content: ${JSON.stringify(contentWithBreaks)},
			options: [
				{
					id: 'short',
					label: 'Short'
				},
				{
					id: 'medium',
					label: 'Medium'
				},
				{
					id: 'long',
					label: 'Long'
				}
			]
		}`}
	>
		<div class="profile col-span-full md:col-span-2 !mb-0">
			<div class="profile__image-container h-full !aspect-auto">
				<Image
					x-show="selected === 'short'"
					class="profile__image !h-full"
					src={profileImage2}
					alt="A young version of me, showing my early years and development"
				/>
				<Image
					x-show="selected === 'medium'"
					class="profile__image !h-full"
					src={profileImage1}
					alt="My current professional headshot, representing my present self"
				/>
				<Image
					x-show="selected === 'long'"
					class="profile__image !h-full"
					src={profileImage2}
					alt="A nostalgic photo from my childhood, showing my journey from then to now"
				/>
			</div>
		</div>
		<div class="col-span-full md:col-span-4">

			<fieldset class="border border-b-0 border-dark w-fit pl-[24px] pr-[48px] pb-[24px]">
				<legend class="h5 mb-[16px]">Choose your length</legend>
				<div class="flex gap-4">
					<template x-for="option in options" :key="option.id">
						<label class="centered relative" :class="{ 'checked': selected === option.id }">
							<input
								type="radio"
								name="content-length"
								:value="option.id"
								x-model="selected"
								class="mr-2"
							>
							<span x-text="option.label"></span>
						</label>
					</template>
				</div>
			</fieldset>

			<div class="space-y-4 border-t-[2px] border-t-dark pt-[36px]">
				<template x-for="option in options" :key="option.id">
					<div x-show="selected === option.id" class="prose md:max-w-[700px]">
						<div x-html="content[option.id]"></div>
					</div>
				</template>
			</div>
		</div>
        <div class="col-span-full region [--region-space:var(--space-xxl)]">
            <Joke />
        </div>
        <div class="col-span-full region [--region-space:var(--space-xxl)]">
            <Song />
        </div>
        <div class="col-span-full region [--region-space:var(--space-xxl)]">
            <GitHubContributions />
        </div>
	</div>
</Layout>
