---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Pattern from '../components/Pattern.astro';
import InfoPanel from '../components/InfoPanel.astro';
import FeaturePanel from '../components/FeaturePanel.astro';
import PostGrid from '../components/PostGrid.astro';
import LatestCard from '../components/LatestCard.astro';
import { Image } from 'astro:assets';
import { getReadingTime } from '../utils/utils.mjs';
import PatternBanner from '../components/Pattern-Banner.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { getCollection } from 'astro:content';
import Profile from '../components/Profile.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_TAGLINE, CURRENT_COMPANY, CURRENT_POSITION } from '../consts';

let posts = [];

if (import.meta.env.DEV && import.meta.env.DEV === "false") {
    posts = await getCollection("writing",
        ({ data }) => !data?.draft
    );
} else {
    posts = await getCollection("writing");
}

posts.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const random = Math.floor(Math.random() * posts.length);
const randomPost = posts[random];

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <div class="absolute left-[-612px] mx-auto top-[92px] opacity-[0.2] pointer-events-none">
                <Pattern></Pattern>
            </div>
            <div class="bg-[var(--color-light)]">
                <div class="container flex flex-col gap-y-[32px] py-[32px] md:py-[64px] [--gutter:32px] md:[--gutter:3vh] [--grid-placement:4] md:[--grid-placement:12]" style="">
                    <div class="flex justify-between items-end h-fit row-start-1">
                        <h1
                            class="heading-tagline gradient-text"
                            style="background-image: var(--color-gradient);"
                        >
                            { SITE_TAGLINE }
                        </h1>

                        <div class="h3 max-w-[450px] md:pb-[20px]">
                            {SITE_DESCRIPTION}
                        </div>
                    </div>

                    <div class="flex justify-between items-end h-fit">
                        <div class="w-full flex">
                            <Profile random="true" class="h-fit w-full max-w-[450px]" />
                        </div>
                        <div class="">
                           <FeaturePanel />
                        </div>
                    </div>

                    <InfoPanel>
                </div>
                <!-- <div class="container grid">
                    <LatestCard />
                </div> -->
            </div>
            <section class="py-[80px] md:py-[160px] relative">
                <div class="container flex flex-col gap-y-[64px] justify-center">
                    <!-- <div class="col-span-full md:col-span-4 row-start-2 md:row-start-1">
                        <div class="flex flex-col gap-y-[24px] sticky top-[60px]">
                            <h3 class="h3">Can't decide?</h3>
                            <a
                                class="pb-[16px] pt-[18px] px-[24px] border border-solid w-fit hover:!no-underline hover:bg-black duration-300 ease-in-out transition-colors hover:text-white"
                                href={`/writing/${randomPost.id}/`}
                            >Click here for a Random Post</a>
                        </div>
                    </div> -->
                    <!-- <div class="flex justify-center text-center"> -->
                        <!-- <h2 class="heading-tagline">Latest Posts</h2> -->
                        <!-- <a class="relative" style="--delay: 0.5s" href="/writing">
                            View all
                        </a> -->
                    <!-- </div> -->
                    <h2 class="h2">Latest Posts</h2>
                    <PostGrid posts={posts.slice(0,5)} />
                </div>
            </section>
		</main>
        <PatternBanner fill="rgba(0, 0, 0, 0.8)" />
	</body>
</html>

<script>

    // import Typewriter from 'typewriter-effect/dist/core';
    import splt from 'spltjs';
    splt({});

    // var taglines = [
    //     'Leave it better than you found it',
    //     'Build better, build forward',
    //     'Elevate what you create',
    //     'Better by design',
    //     'Small steps, lasting impact',
    //     'Making good stuff gooder',
    //     'Making yesterday jealous of tomorrow'
    // ]

    // var app = document.querySelectorAll(".heading-tagline")[0];

    // var typewriter = new Typewriter(app, {
    //     loop: true,
    //     delay: 'natural',
    //     devMode: true
    // })

    // let index = 1;

    // startTyping(taglines[0]);

    // setInterval(() => {
    //     const randomTagline = taglines[index];
    //     startTyping(randomTagline);
    //     if (index <= taglines.length) {
    //         index = index + 1;
    //     }
    // }, 12000);

    // function startTyping(randomTagline) {
    //     typewriter
    //         .typeString(randomTagline)
    //         .pauseFor(6000)
    //         .start()
    //         .deleteAll()
    // }

</script>
