---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Pattern from "../components/Pattern.astro";
import InfoPanel from "../components/InfoPanel.astro";
import FeaturePanel from "../components/FeaturePanel.astro";
import GrowthPanel from "../components/GrowthPanel.astro";
import PatternBanner from "../components/Pattern-Banner.astro";
import { getCollection } from "astro:content";
import Profile from "../components/Profile.astro";
import InlineHeadingText from "../components/InlineHeadingText.astro";
import {
	SITE_TITLE,
	SITE_DESCRIPTION,
	SITE_TAGLINE,
	CURRENT_COMPANY,
	CURRENT_POSITION,
} from "../consts";

let posts = [];

if (import.meta.env.DEV && import.meta.env.DEV === "false") {
	posts = await getCollection("writing", ({ data }) => !data?.draft);
} else {
	posts = await getCollection("writing");
}

posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div
				class="absolute left-[-312px] mx-auto top-[2px] opacity-[0.2] pointer-events-none"
			>
				<Pattern />
			</div>
			<div class="relative">
				<div
					class="container flex flex-col gap-y-[32px] py-[32px] md:py-[64px] [--gutter:32px] md:[--gutter:3vh] [--grid-placement:4] md:[--grid-placement:12] relative"
					style=""
				>
					<div class="row-start-1 inline-heading-text">
						<InlineHeadingText heading={SITE_TAGLINE} text={SITE_DESCRIPTION} />
					</div>

					<div
						class="flex flex-col md:flex-row justify-between md:items-end h-fit gap-[16px] md:gap-[32px]"
					>
						<div class="w-full flex">
							<Profile
								random="true"
								class="h-fit w-full mx-auto md:mx-0 md:max-w-[450px]"
							/>
						</div>
						<div class="">
							<FeaturePanel posts={posts.slice(0, 3)} />
						</div>
					</div>

					<div>
						<InfoPanel />
					</div>
				</div>
				<!-- <div class="container grid">
                    <LatestCard />
                </div> -->
			</div>
			<section class="py-[var(--space-xxl)] relative">
				<div class="container flex flex-col gap-y-[64px] justify-center">
					<!-- <PostGrid posts={posts.slice(0,5)} /> -->
					<GrowthPanel />
				</div>
			</section>
		</main>
		<PatternBanner fill="rgba(0, 0, 0, 0.8)" />
	</body>
</html>

<script>
	// import Typewriter from 'typewriter-effect/dist/core';
	import splt from "spltjs";
	splt({});

	// var taglines = [
	//     'Leave it better than you found it',
	//     'Build better, build forward',
	//     'Elevate what you create',
	//     'Better by design',
	//     'Small steps, lasting impact',
	//     'Making good stuff gooder',
	//     'Making yesterday jealous of tomorrow'
	// ]

	// var app = document.querySelectorAll(".heading-tagline")[0];

	// var typewriter = new Typewriter(app, {
	//     loop: true,
	//     delay: 'natural',
	//     devMode: true
	// })

	// let index = 1;

	// startTyping(taglines[0]);

	// setInterval(() => {
	//     const randomTagline = taglines[index];
	//     startTyping(randomTagline);
	//     if (index <= taglines.length) {
	//         index = index + 1;
	//     }
	// }, 12000);

	// function startTyping(randomTagline) {
	//     typewriter
	//         .typeString(randomTagline)
	//         .pauseFor(6000)
	//         .start()
	//         .deleteAll()
	// }
</script>
