{% set postslist = collections.writing %}
{% set postslistCounter = collections.writing | length %}

<section class="recent-posts relative">

    <div class="container flex flex-col mdw:site-grid fl-py-3xl relative">
        <div class="col-start-1 col-end-7 fl-py-l">
            <h2 class="h2 heading">Recently Published</h2>
            <ol class="list-none fl-py-m">
                {% for post in postslist | reverse | limit(5) %}
                    <li class="fl-mt-m first:mt-0">
                        {% include "partials/block--post-thin.njk" %}
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-start-9 col-end-13 fl-py-l">
            <h3 class="h2 heading highlight">Categories</h3>
        </div>
    </div>
</section>