{% set postslist = collections.writing %}
{% set postslistCounter = collections.writing | length %}

<section class="recent-posts relative">

	<div class="container flex flex-col mdw:site-grid fl-py-3xl relative">
		<div class="col-start-1 col-end-7 fl-py-l">
			<h2 class="h2 heading">Recently Published</h2>
			<ol class="list-none fl-py-m">
				{% for post in postslist | reverse | limit(5) %}
					<li class="fl-mt-m first:mt-0">
						{% include "partials/block--post-thin.njk" %}
					</li>
				{% endfor %}
			</ol>
		</div>
		<div class="col-start-9 col-end-13 fl-py-l flex flex-col h-full justify-between">
			<div class="flex flex-col">
				<h3 class="h2 heading">Categories</h3>
				<div class="fl-mt-xs flex flex-wrap gap-[10px]">
				{% for tag in collections.tagsList %}
					{% if tag != 'writing' %}
						<a class="tag" href="/tags/{{tag}}">{{tag}}</a>
					{% endif %}
				{% endfor %}
				</div>
			</div>
			<div class="flex flex-col fl-pb-m">
				<h3 class="h3 heading fl-mt-xl">Most Popular</h3>
				<div class="fl-mt-xs flex flex-wrap gap-[10px]">
					<a class="fl-text-step-1 font-medium hover:underline hover:underline-offset-2" href="/writing/css-object-fit/">CSS Object-Fit Property</a>
				</div>
			</div>
		</div>
	</div>
</section>