---
export interface Props {
    artist: {
        name: string;
        playcount?: string;
        info?: {
            image?: Array<{
                '#text': string;
            }>;
            stats?: {
                userplaycount?: string;
            };
        };
    };
    index: number;
    isNowPlaying?: boolean;
    trackColor?: string;
}

const { artist, isNowPlaying = false, trackColor = '#000000', index } = Astro.props;
---

    <!-- <div class="music-card">
        <div class="music-card__image">
            {artist.info?.image && artist.info.image[4] && (
                <img
                    src={artist.info.image[4]['#text']}
                    alt={`${artist.name} artist image`}
                    class="w-full h-fit aspect-square object-cover mb-2"
                    loading="lazy"
                />
            )}
            {isNowPlaying && (
                <div class="now-playing-indicator">
                    <div class="now-playing-dot"></div>
                    <div class="now-playing-dot"></div>
                    <div class="now-playing-dot"></div>
                </div>
            )}
        </div>
        <div class="music-card__content">
            <span class="music-card__title">{artist.name}</span>
        </div>
    </div> -->
<div class="flex flex-col gap-[3px] flex-1 border-b pb-[8px]">
    <span class="justify-self-end">{index + 1}</span>
    <span class="standfirst">{artist.name}</span>
    {artist.playcount && (
        <span class="text-[1rem] opacity-70">
            {Number(artist.playcount).toLocaleString()} plays
        </span>
    )}
</div>
