---
/** @type {{ href: string; text: string; italicIndices?: number[] }} */
const { href, text, italicIndices = [] } = Astro.props;

/** @type {Array<{ text: string; italic: boolean }>} */
const words = text.split(/\s+/).map((word: string, i: number) => ({
  text: word,
  italic: italicIndices.includes(i),
}));
---

<a
	data-scramble-on-load
	href={href}
	class="big-link gradient-background"
>
	<span data-scramble={words.map((w) => w.text).join(" ")}>
		{words.map((w, i) => (
			<span
				class:list={["sw", w.italic && "italic"]}
			>
				{w.text}
			</span>
		))}
	</span>
</a>
