---
import FormattedDate from "../components/FormattedDate.astro";

const { i, title, author } =
  Astro.props;

---

<li
  class="item visible"
  data-title={title?.toLowerCase() ?? ""}
>
  <div class="link link--small" data-small>
  	{i &&
    	<span class="index">{i}</span>
    }
    <div class="body">
      <span class="title">{title}</span>
      <div class="meta">
        {author && <span class="topics">{author}</span>}
      </div>
    </div>
  </>
</li>
