<---
import FormattedDate from "../components/FormattedDate.astro";

const { i, title, author, rating, cover, started, finished, status, showStrikethrough, queued } =
  Astro.props;

---

<li
  class="post-item visible"
  data-title={title?.toLowerCase() ?? ""}
>
  <div class="post-link post-link--small">
  	{i &&
    	<span class="post-n">{i}</span>
    }
    <div class="post-body">
      <span class="post-title">{title}</span>
      <div class="post-meta">
        {author && <span class="post-topics-label">{author}</span>}
        {status === "currently-reading" && (
          <span class="post-topics-label ml-auto">Currently Reading</span>
        )}
        {queued && <span class="post-topics-label ml-auto">Queued</span>}
      </div>
    </div>
  </>
</li>
