<---
import FormattedDate from "../components/FormattedDate.astro";

const { i, title, author } =
  Astro.props;

---

<li
  class="post-item visible"
  data-title={title?.toLowerCase() ?? ""}
>
  <div class="post-link post-link--small">
  	{i &&
    	<span class="post-n">{i}</span>
    }
    <div class="post-body">
      <span class="post-title">{title}</span>
      <div class="post-meta">
        {author && <span class="post-topics-label">{author}</span>}
      </div>
    </div>
  </>
</li>
