---
// Component props
export interface Props {
  buttonName: string;
  buttonText?: string;
  className?: string;
}

const { buttonName, buttonText = buttonName, className = '' } = Astro.props;
---

<div class="click-counter" x-data="{
    count: 0,
    loading: false,
    async incrementCount() {
        this.loading = true;
        try {
            const response = await fetch('/api/click-counter', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ buttonName: '${buttonName}' })
            });

            if (response.ok) {
                this.count++;
            }
        } catch (error) {
            console.error('Error incrementing count:', error);
        } finally {
            this.loading = false;
        }
    },
    async loadCount() {
        try {
            const response = await fetch('/api/click-counter');
            const counters = await response.json();
            const buttonCounter = counters.find(c => c.buttonName === '${buttonName}');
            this.count = buttonCounter ? buttonCounter.clickCount : 0;
        } catch (error) {
            console.error('Error loading count:', error);
        }
    }
}" x-init="loadCount()">
    <button
        @click="incrementCount()"
        :disabled="loading"
        class="click-counter__button ${className}"
        type="button"
    >
        <span x-text="buttonText">${buttonText}</span>
        <span class="click-counter__count" x-text="count"></span>
    </button>
</div>
