---
const { title, description, growth } = Astro.props;
---

<header class="relative py-[32px]">
	<div
		class="container cluster relative"
		style="--cluster-vertical-alignment: flex-end; --gutter: 32px;"
	>
		<div class="flow [--flow-space:16px]" style="--flow-space: var(--space-xl)">
			{
				growth && (
					<div class="h-fit h4 flex">
						Current Growth Stage:{" "}
						<span class="h-fit block px-[2px] md:px-[4px]">
							{growth.charAt(0).toUpperCase() + growth.slice(1)}
						</span>
					</div>
				)
			}
			<h1 class="h1 gradient-text">{title}</h1>
			<h2 class="intro">{description}</h2>
		</div>
	</div>
</header>
