---
import NavLink from '../components/NavigationLink.astro';
const today = new Date();
---

<!-- <div class="w-full text-center translate-y-[30%] mt-[250px] pointer-events-none">
    <span class="-top-1/2 h1 text-[clamp(9.375rem,15vw,18.75rem)] relative">
        Allonsy
        <svg class="absolute right-[105px] top-[33%]" width="110" height="39" viewBox="0 0 110 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.80623 38.5186L0.835201 0.527287L109.806 0.518556" stroke="currentColor" stroke-dasharray="4 4"/>
        </svg>
        <span class="absolute top-[30%] right-[-8%] border py-[16px] px-[24px] body-text">
            Meaning: Let's Go
        </span>
    </span>
</div> -->

<footer class="relative border-t border-dark region [--region-space:var(--space-xxl)]">
    <div class="container grid !grid-cols-6">
        <nav class="col-span-full md:col-span-1 internal-links" aria-label="Internal Site Links">
            <NavLink class="nav-link nav-link--small" href="/writing">Writing</NavLink>
            <NavLink class="nav-link nav-link--small" href="/about">About</NavLink>
        </nav>
        <nav class="external-links flex flex-wrap w-fit gap-y-4 gap-x-8 col-span-full items-start md:col-start-4 md:col-span-2" aria-label="External Site Links">
            <a class="nav-link nav-link--small" href="https://m.webtoo.ls/@astro" target="_blank">
                <span class="">Mastodon</span>
            </a>
            <a class="nav-link nav-link--small" href="https://twitter.com/astrodotbuild" target="_blank">
                <span class="">LinkedIn</span>
            </a>
            <a class="nav-link nav-link--small" href="https://github.com/withastro/astro" target="_blank">
                <span class="">Bluesky</span>
            </a>
        </nav>
        <div class="col-span-full">&copy; {today.getFullYear()} Dom Jay. All rights reserved.</div>
    </div>
</footer>
