---
const today = new Date();
---

<div class="w-full text-center translate-y-[30%] mt-[250px] pointer-events-none">
    <span class="-top-1/2 h1 text-[300px] relative">
        Allonsy
        <svg class="absolute right-[105px] top-[33%]" width="110" height="39" viewBox="0 0 110 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.80623 38.5186L0.835201 0.527287L109.806 0.518556" stroke="currentColor" stroke-dasharray="4 4"/>
        </svg>
        <span class="absolute top-[30%] right-[-8%] border py-[16px] px-[24px] body-text">
            Meaning: Let's Go
        </span>
    </span>
</div>

<footer class="relative bg-black text-white py-[120px]">
    <div class="container grid">
        <nav class="external-links col-span-full md:col-start-1 md:col-span-4" aria-label="External Site Links">
            <a class="nav-link nav-link--small" href="https://github.com/withastro/astro" target="_blank">
                <span class=" text-white">Email</span>
            </a>
            <a class="nav-link nav-link--small" href="https://m.webtoo.ls/@astro" target="_blank">
                <span class=" text-white">Mastodon</span>
            </a>
            <a class="nav-link nav-link--small" href="https://twitter.com/astrodotbuild" target="_blank">
                <span class=" text-white">LinkedIn</span>
            </a>
            <a class="nav-link nav-link--small" href="https://github.com/withastro/astro" target="_blank">
                <span class=" text-white">Bluesky</span>
            </a>
        </nav>
        <div class="col-span-full">&copy; {today.getFullYear()} Dom Jay. All rights reserved.</div>
    </div>
</footer>
