---
const { type = "warning" } = Astro.props;
---

<div class="prose-notice" data-variant={`${type}`} role="note">
	<div class="prose-notice__eyebrow">
  	<slot name="title" class="prose-notice__eyebrow" />
	</div>
	<div class="prose-notice__body">
		<slot name="body"/>
	</div>
</div>
