---
import { SITE_TITLE, SITE_TAGLINE } from '../consts';
import NavLink from '../components/NavigationLink.astro';

---

<header class="site-header"
    x-cloak
    x-data="{
        openMenu: false
    }"
    :class="{
        'site-header--open': openMenu
    }"
    @keydown.escape="openMenu = false"
>
    <div class="flex justify-between items-center flex-col h-full">
        <button class="w-full max-w-[100px] group h-[60px] cursor-pointer" @click="openMenu = ! openMenu">
            <svg class="w-full" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="group-hover:translate-x-[20%] transition-transform linear duration-[0.25s]"  d="M5 4.5H61" stroke="black" stroke-width="9" stroke-linecap="round"/>
                <path class="group-hover:translate-x-[50%] transition-transform linear duration-[0.25s]" d="M7 29H90" stroke="black" stroke-width="9" stroke-linecap="round"/>
                <path class="group-hover:translate-x-[-60%] transition-transform linear duration-[0.25s]" d="M38 52L90 52" stroke="black" stroke-width="9" stroke-linecap="round"/>
            </svg>
        </button>
        <div class="navigation-large" :class="{ 'navigation-large--open' : openMenu }">
            <nav class="internal-links flex flex-row" aria-label="Internal Site Links">
                <NavLink class="nav-link" href="/writing">Writing</NavLink>
                <NavLink class="nav-link" href="/about">About</NavLink>
                <NavLink class="nav-link" href="/now">Now</NavLink>
            </nav>
            <button class="cursor-pointer absolute top-[24px] left-[24px] text-[30px] hover:!no-underline" @click="openMenu = false">Close</button>
        </div>

        <a class="[writing-mode:vertical-lr] rotate-[-180deg] text-[30px] hover:!no-underline" href="/">{SITE_TITLE}</a>
    </div>
</header>
