---
import { SITE_TITLE, SITE_TAGLINE } from '../consts';
import NavLink from '../components/NavigationLink.astro';

---

<header class="container site-header"
    x-cloak
    x-data="{
        openMenu: false
    }"
    :class="{
        'site-header--open': openMenu
    }"
    @keydown.escape="openMenu = false"
>
    <a class="h-fit" href="/">
        <svg width="231" height="34" viewBox="0 0 231 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_1840_58" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="39" height="34">
            <path d="M0.566655 33.2568L38.3633 33.2568L38.3633 0.784913L0.566651 0.784916L0.566655 33.2568Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_1840_58)">
            <path d="M0.762773 27.0078C0.452935 27.5268 0.505099 28.1152 0.776479 28.6036C0.700036 29.1594 0.869361 29.7236 1.48157 30.1565C2.05164 30.5593 2.62161 30.9624 3.1913 31.3654C4.1932 32.0736 5.76195 32.2971 6.73634 31.3654C11.1623 27.134 15.7908 23.0863 20.5889 19.1861C24.1561 22.0489 27.7666 24.873 31.3513 27.7007C32.6094 28.6934 34.4305 28.3819 35.222 27.1993C36.375 26.7076 37.3095 26.0667 38.0823 24.9728C38.4503 24.4516 38.4216 23.7936 38.0823 23.2706C35.7681 19.7059 31.295 16.5718 27.6172 13.6876C28.1094 13.3091 28.5978 12.9271 29.0999 12.5566C34.0549 8.90087 37.3972 6.5814 31.1963 2.83309C31.1127 2.78251 31.0274 2.79372 30.9425 2.76417C30.8236 2.71708 30.7097 2.68388 30.5779 2.66529C30.537 2.66391 30.4987 2.65798 30.4584 2.66074C30.3308 2.65181 30.2059 2.62389 30.0765 2.64572C26.7428 3.20725 23.6424 5.4517 20.8296 7.9233C18.0894 5.60294 15.1716 3.38617 11.9632 2.07081C11.1994 1.75754 10.2887 1.94011 9.70054 2.37824C8.71443 2.31427 7.81534 2.84072 7.36414 3.59723C7.29734 3.63271 7.25425 3.653 7.18187 3.69189C5.74824 4.46131 5.61728 5.99366 6.67804 7.04989C9.0735 9.43471 11.6199 11.7017 14.2156 13.9285C9.5418 17.852 3.70581 22.0834 0.762773 27.0078Z" fill="black"/>
            </g>
            <path d="M230.026 10.8257L222.683 25.3375L216.646 32.9997L215.543 32.129C216.646 30.9487 217.478 29.9136 218.039 29.0235C218.619 28.1334 219.026 27.2337 219.258 26.3243C219.49 25.4343 219.606 24.3701 219.606 23.1317L215.949 14.2795L213.25 12.7122V11.8125L218.213 9.37451L219.316 13.7571L222.857 22.4061L226.949 13.9022L223.089 11.0869L223.669 9.92596H230.026V10.8257Z" fill="black"/>
            <path d="M213.828 25.3378H208.313V22.8127L205.034 25.3958C204.647 25.5506 204.163 25.628 203.582 25.628C201.918 25.628 200.709 25.212 199.954 24.38C199.219 23.548 198.852 22.5515 198.852 21.3906C198.852 20.694 199.103 20.0071 199.606 19.3299C200.109 18.6527 200.825 18.0141 201.754 17.4143H208.313V15.5568C208.313 14.2991 207.975 13.4091 207.297 12.8866C206.64 12.3642 205.73 12.103 204.569 12.103C203.37 12.103 201.899 12.8286 200.158 14.2798L199.287 13.1769L203.466 9.86817C204.24 9.71338 205.169 9.63599 206.253 9.63599C208.013 9.63599 209.377 10.0713 210.345 10.942C211.312 11.7934 211.796 13.0414 211.796 14.6861V23.161L214.408 24.1768L213.828 25.3378ZM204.511 23.161C205.691 23.161 206.959 22.6192 208.313 21.5357V18.6043H203.176C202.925 18.9139 202.741 19.2235 202.625 19.533C202.528 19.8426 202.48 20.1812 202.48 20.5489C202.48 21.2648 202.663 21.884 203.031 22.4064C203.399 22.9095 203.892 23.161 204.511 23.161Z" fill="black"/>
            <path d="M195.805 22.4645C195.805 23.2384 195.824 23.9543 195.863 24.6122C195.921 25.2507 195.989 25.6861 196.066 25.9183L190.494 33L189.391 32.1293C190.552 30.7555 191.326 29.5849 191.713 28.6175C192.119 27.65 192.322 26.4504 192.322 25.0185V13.9315L189.739 12.1321V11.2323L194.702 9.37481H195.805V22.4645ZM193.947 0.667725C194.528 0.667725 195.002 0.880564 195.369 1.30624C195.756 1.73192 195.95 2.26402 195.95 2.90254C195.95 3.34757 195.815 3.77325 195.544 4.17958C195.273 4.56656 194.934 4.87615 194.528 5.10834C194.121 5.34053 193.725 5.45662 193.338 5.45662C192.757 5.45662 192.274 5.24378 191.887 4.8181C191.519 4.39242 191.335 3.86032 191.335 3.2218C191.335 2.77677 191.471 2.36077 191.742 1.97379C192.012 1.56746 192.351 1.2482 192.757 1.01601C193.164 0.783819 193.56 0.667725 193.947 0.667725Z" fill="black"/>
            <path d="M173.785 24.1767L173.205 25.3376H165.107V24.4379L167.691 22.4062V4.55671L165.107 2.75724V1.85751L170.07 0H171.173V23.1609L173.785 24.1767ZM183.073 25.3376H178.168L172.712 17.6754L178.139 13.1187L175.353 11.087L175.933 9.92608H182.87V10.8258L176.136 16.4854L181.041 23.1609L183.654 24.1767L183.073 25.3376Z" fill="black"/>
            <path d="M158.511 9.63599C159.304 9.63599 160.223 9.75208 161.268 9.98427C162.333 10.1971 163.097 10.439 163.561 10.7099V15.1795H162.458C161.704 14.212 160.833 13.4574 159.846 12.9157C158.879 12.3545 157.873 12.074 156.828 12.074C155.938 12.074 155.26 12.4706 154.796 13.2639C154.351 14.0573 154.129 15.2182 154.129 16.7468C154.129 18.5656 154.525 20.0942 155.319 21.3325C156.112 22.5515 157.244 23.161 158.714 23.161C159.817 23.161 161.384 22.3677 163.416 20.7811L164.287 21.884L159.817 25.3958C159.043 25.5506 158.114 25.628 157.031 25.628C155.754 25.628 154.603 25.2991 153.577 24.6412C152.571 23.964 151.778 23.0546 151.197 21.913C150.636 20.7714 150.355 19.5137 150.355 18.1399C150.355 16.65 150.771 15.2472 151.603 13.9315C152.455 12.6157 153.519 11.5709 154.796 10.7969C156.073 10.023 157.311 9.63599 158.511 9.63599Z" fill="black"/>
            <path d="M148.768 25.3378H140.67V24.4381L143.253 22.4064V13.9315L140.67 12.1321V11.2323L145.633 9.37481H146.736V23.161L149.348 24.1769L148.768 25.3378ZM144.878 0.667725C145.459 0.667725 145.933 0.880564 146.301 1.30624C146.687 1.73192 146.881 2.26402 146.881 2.90254C146.881 3.34757 146.746 3.77325 146.475 4.17958C146.204 4.56656 145.865 4.87615 145.459 5.10834C145.052 5.34053 144.656 5.45662 144.269 5.45662C143.688 5.45662 143.205 5.24378 142.818 4.8181C142.45 4.39242 142.266 3.86032 142.266 3.2218C142.266 2.77677 142.402 2.36077 142.673 1.97379C142.943 1.56746 143.282 1.2482 143.688 1.01601C144.095 0.783819 144.491 0.667725 144.878 0.667725Z" fill="black"/>
            <path d="M139.807 25.3665H134.293V15.5856C134.293 14.5214 134.128 13.7764 133.8 13.3507C133.471 12.9251 132.88 12.7122 132.029 12.7122C131.391 12.7122 130.752 12.8283 130.114 13.0605C129.494 13.2927 128.759 13.7377 127.908 14.3956V23.1898L130.52 24.2056L129.939 25.3665H121.842V24.4668L124.425 22.4351V14.2215L121.842 12.7122V11.8125L126.805 9.37451L127.763 13.1476L131.884 9.86791C132.29 9.71312 132.822 9.63572 133.48 9.63572C134.796 9.63572 135.841 10.0421 136.615 10.8547C137.389 11.648 137.776 12.7316 137.776 14.1054V23.1607L140.388 24.2056L139.807 25.3665Z" fill="black"/>
            <path d="M120.689 25.3378H112.592V24.4381L115.175 22.4064V13.9315L112.592 12.1321V11.2323L117.555 9.37481H118.658V23.161L121.27 24.1769L120.689 25.3378ZM116.8 0.667725C117.381 0.667725 117.855 0.880564 118.222 1.30624C118.609 1.73192 118.803 2.26402 118.803 2.90254C118.803 3.34757 118.667 3.77325 118.397 4.17958C118.126 4.56656 117.787 4.87615 117.381 5.10834C116.974 5.34053 116.578 5.45662 116.191 5.45662C115.61 5.45662 115.127 5.24378 114.74 4.8181C114.372 4.39242 114.188 3.86032 114.188 3.2218C114.188 2.77677 114.324 2.36077 114.594 1.97379C114.865 1.56746 115.204 1.2482 115.61 1.01601C116.017 0.783819 116.413 0.667725 116.8 0.667725Z" fill="black"/>
            <path d="M111.747 25.3377H106.233V15.5568C106.233 14.4926 106.068 13.7476 105.739 13.3219C105.411 12.8963 104.82 12.6834 103.969 12.6834C103.369 12.6834 102.779 12.7995 102.199 13.0317C101.618 13.2445 100.931 13.6799 100.138 14.3378V23.1609L102.75 24.1768L102.17 25.3377H96.655V15.5568C96.655 14.4926 96.4906 13.7476 96.1616 13.3219C95.8327 12.8963 95.2426 12.6834 94.3912 12.6834C93.7914 12.6834 93.2012 12.7995 92.6208 13.0317C92.0403 13.2445 91.3534 13.6799 90.5601 14.3378V23.1609L93.1722 24.1768L92.5917 25.3377H84.4941V24.438L87.0772 22.4063V14.1926L84.4941 12.6834V11.7837L89.4572 9.3457L90.3859 13.0607L94.2461 9.8391C94.6524 9.68431 95.1845 9.60691 95.8424 9.60691C96.9646 9.60691 97.8934 9.9165 98.6286 10.5357C99.3639 11.1355 99.8283 11.9675 100.022 13.0317L103.795 9.86813C104.201 9.71334 104.733 9.63594 105.391 9.63594C106.707 9.63594 107.752 10.0423 108.526 10.8549C109.3 11.6482 109.687 12.7318 109.687 14.1056V23.1609L112.328 24.1768L111.747 25.3377Z" fill="black"/>
            <path d="M76.199 9.63599C77.476 9.63599 78.6176 9.97459 79.6238 10.6518C80.6493 11.3097 81.4426 12.2094 82.0037 13.351C82.5842 14.4926 82.8744 15.7503 82.8744 17.1241C82.8744 18.614 82.4197 20.0168 81.5103 21.3325C80.6009 22.6289 79.4593 23.6737 78.0855 24.4671C76.7311 25.241 75.4154 25.628 74.1383 25.628C72.8613 25.628 71.71 25.2991 70.6845 24.6412C69.6784 23.964 68.885 23.0546 68.3046 21.913C67.7435 20.7714 67.4629 19.5137 67.4629 18.1399C67.4629 16.65 67.9176 15.2569 68.827 13.9605C69.7364 12.6448 70.8683 11.5999 72.2228 10.826C73.5966 10.0326 74.922 9.63599 76.199 9.63599ZM74.5156 12.074C72.3292 12.074 71.236 13.6316 71.236 16.7468C71.236 18.5849 71.6326 20.1232 72.4259 21.3615C73.2192 22.5805 74.3512 23.19 75.8217 23.19C78.0081 23.19 79.1014 21.6227 79.1014 18.4882C79.1014 16.6694 78.7047 15.1505 77.9114 13.9315C77.1181 12.6931 75.9862 12.074 74.5156 12.074Z" fill="black"/>
            <path d="M66.1239 25.3376H60.6095V23.2479L57.9103 25.3957C57.2911 25.5505 56.5461 25.6279 55.6754 25.6279C54.3984 25.6279 53.2471 25.2989 52.2216 24.6411C51.2155 23.9638 50.4222 23.0544 49.8417 21.9128C49.2806 20.7712 49 19.5135 49 18.1398C49 16.6499 49.4547 15.2568 50.3641 13.9604C51.2735 12.6446 52.4054 11.5998 53.7599 10.8258C55.1337 10.0325 56.4591 9.63584 57.7361 9.63584C58.8003 9.63584 59.7678 9.93575 60.6385 10.5356V4.55671L58.0554 2.75724V1.85751L63.0184 0H64.1213V23.1609L66.7044 24.1767L66.1239 25.3376ZM57.1556 23.1609C57.7361 23.1609 58.2876 23.0835 58.81 22.9287C59.3518 22.7545 59.9516 22.4353 60.6095 21.9709V15.3535C60.4934 14.386 60.0387 13.6024 59.2453 13.0026C58.4714 12.3834 57.4072 12.0738 56.0527 12.0738C53.8663 12.0738 52.7731 13.6314 52.7731 16.7466C52.7731 18.5654 53.1504 20.094 53.905 21.3324C54.6596 22.5514 55.7432 23.1609 57.1556 23.1609Z" fill="black"/>
        </svg>
    </a>
    <button popovertarget="navigation-large" class="menu-button">
        <svg class="w-full h-full" width="143" height="143" viewBox="0 0 143 143" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1840_2004)">
            <path d="M121.769 38.7454C88.332 36.4208 57.8064 39.8338 25.1708 45.6316C22.1526 46.1621 23.0665 51.5798 26.09 51.0998C58.623 45.9045 88.6215 43.1087 121.213 45.9417C123.194 46.1164 124.934 44.6145 125.087 42.6256C125.242 40.6427 123.761 38.885 121.769 38.7454Z" fill="black"/>
            <path d="M137.401 62.3421C111.485 60.4703 84.9915 60.3835 58.6372 62.4456C40.2656 63.8869 22.0427 67.1215 4.2775 71.4075C-0.580087 72.5801 0.86153 80.6593 5.79893 79.9178C23.4746 77.2708 41.35 75.7093 59.2473 74.3105C84.9315 72.3018 110.815 72.1814 136.18 73.814C142.737 74.2383 143.955 62.8144 137.401 62.3421Z" fill="black"/>
            <path d="M101.868 91.4293C84.4753 91.7977 67.0864 92.1571 49.6944 92.5252C43.6044 92.6515 43.8181 103.664 49.9113 103.549C67.3019 103.229 84.6925 102.908 102.085 102.595C105.172 102.536 107.616 99.9848 107.559 96.9038C107.495 93.8194 104.947 91.367 101.868 91.4293Z" fill="black"/>
            </g>
            <defs>
            <clipPath id="clip0_1840_2004">
            <rect width="143" height="143" fill="white"/>
            </clipPath>
            </defs>
        </svg>
    </button>
    <div popover id="navigation-large" class="navigation-large" :class="{ 'navigation-large--open' : openMenu }">
        <nav class="internal-links flex flex-row" aria-label="Internal Site Links">
            <ul>
                <li><NavLink href="/writing" class="[&_span]:translate-x-0">Writing</NavLink></li>
                <li><NavLink href="/about" class="[&_span]:translate-x-0">About</NavLink></li>
                <li><NavLink href="/now" class="[&_span]:translate-x-0">Now</NavLink></li>
            </ul>
        </nav>
    </div>
</header>
