---

let books: any[] = [];
import {
  getRecentTracksWithTags,
  type LastFmArtist,
  type LastFmTrack,
  type LastFmTag
} from '../lib/lastfm';

let artists: LastFmArtist[] = [];
let tracks: LastFmTrack[] = [];
let recentTracks: LastFmTrack | null = null;
let recentTrackTags: LastFmTag[] = [];
let trackColor = '#000000'; // Default color

const apiKey = import.meta.env.LAST_FM_API_KEY;

try {
  const response = await fetch("https://literal.club/graphql/",
    {
      method: 'POST',
      headers: {'Content-Type':'application/json'},
      body: JSON.stringify({
          query: `query booksByReadingStateAndProfile(
          $limit: Int!
          $offset: Int!
          $readingStatus: ReadingStatus!
          $profileId: String!
        ) {
          booksByReadingStateAndProfile(
              limit: $limit
              offset: $offset
              readingStatus: $readingStatus
              profileId: $profileId
          )
          { id title authors {
              name
          } } }`,
          variables: {
              "limit": 100,
              "offset": 0,
              "readingStatus": "IS_READING",
              "profileId": import.meta.env.profileId
          },
      }),
  });

  if (!response.ok) {
    throw new Error(`HTTP error! status: ${response.status}`);
  }

  const data = await response.json();
  books = data.data?.booksByReadingStateAndProfile || [];
} catch (error) {
  console.error('Error fetching books from Literal.club:', error);
  books = [];
}

// Fetch all data using consolidated utilities
const [recentTracksData] = await Promise.all([
  getRecentTracksWithTags(apiKey, 5)
]);

// Process recent tracks data
if (recentTracksData.recentTracks) {
  recentTracks = recentTracksData.recentTracks;
  recentTrackTags = recentTracksData.recentTrackTags;
}

console.log(recentTracks.artist['#text'])
---

<div
    class="info-panel info-panel--stuck"
    x-data="{
        time: '',
    }"
    x-init="
        const weather = await fetch(
            'https://api.weatherapi.com/v1/current.json?q=Plymouth', {
                method: 'GET',
                headers: new Headers({
                    'Content-Type': 'application/json',
                    key: 'b0bf9aab45af4844b6e151838252301',
                }),
            })
        .then((response) => response.json())
        .then((responseJSON) => {
            $el.querySelector('.temp').innerText = responseJSON.current.temp_c + '°C';
        });

        setInterval(function () {
            const time = new Date().toLocaleTimeString();
            $el.querySelector('.time').innerText = time;
        }, 1000);

    "
    x-cloak
>
    <div class="info-panel__details">
        <!-- Song -->
        <div class="info-panel__detail music relative">
            {recentTracks?.['@attr']?.nowplaying ?
                <div class="now-playing-indicator now-playing-indicator--small !relative !bottom-0 !right-0 shrink-0">
                    <div class="now-playing-dot"></div>
                    <div class="now-playing-dot"></div>
                    <div class="now-playing-dot"></div>
                </div>
            :
            <svg class="static-indicator" width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 11.1663V13.833M5 7.16634V17.833M9 9.83301V15.1663M13 5.83301V19.1663M17 1.83301V23.1663M21 8.49967V16.4997M25 11.1663V13.833" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            }
            <span><span class="music__song">{recentTracks?.name || 'No track playing'}</span> by <span class="music__artist">{recentTracks?.artist?.['#text'] || 'Unknown artist'}</span></span>
        </div>
        <!-- Book -->
        <div class="info-panel__detail book">
            <svg class="shrink-0" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1344_51453)">
                <path d="M22.6562 0H5.46875C4.43275 0 3.43918 0.41155 2.70661 1.14411C1.97405 1.87668 1.5625 2.87025 1.5625 3.90625V21.0938C1.5625 22.1298 1.97405 23.1233 2.70661 23.8559C3.43918 24.5884 4.43275 25 5.46875 25H22.6562C22.8635 25 23.0622 24.9177 23.2087 24.7712C23.3552 24.6247 23.4375 24.426 23.4375 24.2188V0.78125C23.4375 0.57405 23.3552 0.375336 23.2087 0.228823C23.0622 0.08231 22.8635 0 22.6562 0ZM21.875 23.4375H5.46875C4.84715 23.4375 4.25101 23.1906 3.81147 22.751C3.37193 22.3115 3.125 21.7154 3.125 21.0938C3.125 20.4721 3.37193 19.876 3.81147 19.4365C4.25101 18.9969 4.84715 18.75 5.46875 18.75H19.5312C20.0148 18.7514 20.4861 18.9022 20.8805 19.182C21.2749 19.4617 21.5732 19.8566 21.7344 20.3125H8.59375V21.875H21.875V23.4375ZM21.875 17.9688C21.1988 17.4616 20.3764 17.1875 19.5312 17.1875H5.46875C4.62355 17.1875 3.80116 17.4616 3.125 17.9688V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H21.875V17.9688Z" fill="black"/>
                <path d="M7.03125 20.3125H5.46875V21.875H7.03125V20.3125Z" fill="black"/>
                <path d="M5.46875 14.0625C5.46875 14.2697 5.55106 14.4684 5.69757 14.6149C5.84409 14.7614 6.0428 14.8438 6.25 14.8438H18.75C18.9572 14.8438 19.1559 14.7614 19.3024 14.6149C19.4489 14.4684 19.5312 14.2697 19.5312 14.0625V4.6875C19.5312 4.4803 19.4489 4.28159 19.3024 4.13507C19.1559 3.98856 18.9572 3.90625 18.75 3.90625H6.25C6.0428 3.90625 5.84409 3.98856 5.69757 4.13507C5.55106 4.28159 5.46875 4.4803 5.46875 4.6875V14.0625ZM7.03125 5.46875H17.9688V10.6172L16.1797 8.82812C16.0333 8.68262 15.8353 8.60094 15.6289 8.60094C15.4225 8.60094 15.2245 8.68262 15.0781 8.82812L13.2812 10.6172L11.4922 8.82812C11.3458 8.68262 11.1478 8.60094 10.9414 8.60094C10.735 8.60094 10.537 8.68262 10.3906 8.82812L7.03125 12.1797V5.46875Z" fill="black"/>
                </g>
                <defs>
                <clipPath id="clip0_1344_51453">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>
            </svg>
            <span><span class="music__song">{books[0]?.title || 'No book currently reading'}</span> by <span class="music__artist">{books[0]?.authors?.[0]?.name || 'Unknown author'}</span></span>
        </div>
        <!-- Weather -->
        <div class="info-panel__detail weather">
            <svg class="shrink-0" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1344_51490)">
                <path d="M22.9193 16.6667C22.9193 16.9429 22.8095 17.2079 22.6142 17.4032C22.4188 17.5986 22.1539 17.7083 21.8776 17.7083H3.1276C2.85134 17.7083 2.58638 17.5986 2.39103 17.4032C2.19568 17.2079 2.08594 16.9429 2.08594 16.6667C2.08594 16.3904 2.19568 16.1254 2.39103 15.9301C2.58638 15.7347 2.85134 15.625 3.1276 15.625H21.8776C22.1539 15.625 22.4188 15.7347 22.6142 15.9301C22.8095 16.1254 22.9193 16.3904 22.9193 16.6667ZM17.7109 21.875C17.9872 21.875 18.2522 21.7653 18.4475 21.5699C18.6429 21.3746 18.7526 21.1096 18.7526 20.8333C18.7526 20.5571 18.6429 20.2921 18.4475 20.0968C18.2522 19.9014 17.9872 19.7917 17.7109 19.7917H7.29427C7.018 19.7917 6.75305 19.9014 6.5577 20.0968C6.36235 20.2921 6.2526 20.5571 6.2526 20.8333C6.2526 21.1096 6.36235 21.3746 6.5577 21.5699C6.75305 21.7653 7.018 21.875 7.29427 21.875H17.7109ZM16.6693 13.5417C16.6693 12.4366 16.2303 11.3768 15.4489 10.5954C14.6675 9.81399 13.6077 9.375 12.5026 9.375C11.3975 9.375 10.3377 9.81399 9.55633 10.5954C8.77492 11.3768 8.33594 12.4366 8.33594 13.5417H16.6693ZM18.7526 12.5C18.7526 12.7763 18.8624 13.0412 19.0577 13.2366C19.2531 13.4319 19.518 13.5417 19.7943 13.5417H20.8359C21.1122 13.5417 21.3772 13.4319 21.5725 13.2366C21.7679 13.0412 21.8776 12.7763 21.8776 12.5C21.8776 12.2237 21.7679 11.9588 21.5725 11.7634C21.3772 11.5681 21.1122 11.4583 20.8359 11.4583H19.7943C19.518 11.4583 19.2531 11.5681 19.0577 11.7634C18.8624 11.9588 18.7526 12.2237 18.7526 12.5ZM4.16927 11.4583C3.893 11.4583 3.62805 11.5681 3.4327 11.7634C3.23735 11.9588 3.1276 12.2237 3.1276 12.5C3.1276 12.7763 3.23735 13.0412 3.4327 13.2366C3.62805 13.4319 3.893 13.5417 4.16927 13.5417H5.21094C5.48721 13.5417 5.75216 13.4319 5.94751 13.2366C6.14286 13.0412 6.2526 12.7763 6.2526 12.5C6.2526 12.2237 6.14286 11.9588 5.94751 11.7634C5.75216 11.5681 5.48721 11.4583 5.21094 11.4583H4.16927ZM11.4609 4.16667V5.20833C11.4609 5.4846 11.5707 5.74955 11.766 5.9449C11.9614 6.14025 12.2263 6.25 12.5026 6.25C12.7789 6.25 13.0438 6.14025 13.2392 5.9449C13.4345 5.74955 13.5443 5.4846 13.5443 5.20833V4.16667C13.5443 3.8904 13.4345 3.62545 13.2392 3.4301C13.0438 3.23475 12.7789 3.125 12.5026 3.125C12.2263 3.125 11.9614 3.23475 11.766 3.4301C11.5707 3.62545 11.4609 3.8904 11.4609 4.16667ZM17.6589 5.87083L16.9224 6.60729C16.8229 6.70338 16.7436 6.81832 16.689 6.94541C16.6344 7.0725 16.6056 7.20919 16.6044 7.3475C16.6032 7.48581 16.6296 7.62298 16.682 7.75099C16.7343 7.87901 16.8117 7.99531 16.9095 8.09312C17.0073 8.19092 17.1236 8.26827 17.2516 8.32065C17.3796 8.37302 17.5168 8.39938 17.6551 8.39818C17.7934 8.39698 17.9301 8.36824 18.0572 8.31365C18.1843 8.25905 18.2992 8.1797 18.3953 8.08021L19.1318 7.34375C19.2313 7.24766 19.3106 7.13272 19.3652 7.00563C19.4198 6.87854 19.4485 6.74185 19.4497 6.60354C19.4509 6.46523 19.4246 6.32806 19.3722 6.20005C19.3198 6.07203 19.2425 5.95573 19.1447 5.85792C19.0469 5.76012 18.9306 5.68277 18.8026 5.63039C18.6745 5.57802 18.5374 5.55166 18.3991 5.55286C18.2607 5.55407 18.1241 5.5828 17.997 5.63739C17.8699 5.69199 17.7549 5.77134 17.6589 5.87083ZM7.34635 5.87083C7.14989 5.68109 6.88677 5.57609 6.61364 5.57846C6.34052 5.58084 6.07926 5.69039 5.88613 5.88352C5.69299 6.07666 5.58344 6.33792 5.58107 6.61104C5.5787 6.88416 5.68369 7.14729 5.87344 7.34375L6.6099 8.08021C6.80636 8.26996 7.06948 8.37495 7.34261 8.37258C7.61573 8.3702 7.87699 8.26065 8.07012 8.06752C8.26326 7.87439 8.37281 7.61312 8.37518 7.34C8.37755 7.06688 8.27256 6.80375 8.08281 6.60729L7.34635 5.87083Z" fill="black"/>
                </g>
                <defs>
                <clipPath id="clip0_1344_51490">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>
            </svg>
            <span class="temp">11 ° 7 °</span>
        </div>
        <!-- Time -->
        <div class="info-panel__detail min-w-[100px]">
            <svg class="shrink-0" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1344_51507)">
                <path d="M10 0.5C12.7616 0.5 15.2614 1.61897 17.0708 3.42919C18.8802 5.23857 20 7.7392 20 10.5C20 13.2608 18.881 15.7614 17.0708 17.5708C15.2614 19.3802 12.7608 20.5 10 20.5C7.23836 20.5 4.73857 19.381 2.92919 17.5708C1.11897 15.7614 0 13.2608 0 10.5C0 7.7392 1.11897 5.23857 2.92919 3.42919C4.73857 1.61897 7.23836 0.5 10 0.5ZM9.18245 5.56862C9.18245 5.26636 9.42747 5.02134 9.72973 5.02134C10.032 5.02134 10.277 5.26636 10.277 5.56862V10.6204L14.0776 12.8735C14.337 13.0267 14.4237 13.3618 14.2704 13.622C14.1172 13.8813 13.7821 13.968 13.5219 13.8148L9.48135 11.4194C9.3037 11.3285 9.18245 11.1441 9.18245 10.9319V5.56862ZM16.297 4.20296C14.6855 2.59144 12.4594 1.59455 10 1.59455C7.54063 1.59455 5.31447 2.59144 3.70296 4.20296C2.09144 5.81447 1.09455 8.04063 1.09455 10.5C1.09455 12.9594 2.09144 15.1855 3.70296 16.797C5.31447 18.4086 7.54063 19.4054 10 19.4054C12.4594 19.4054 14.6855 18.4086 16.297 16.797C17.9086 15.1855 18.9054 12.9594 18.9054 10.5C18.9054 8.04063 17.9086 5.81447 16.297 4.20296Z" fill="black"/>
                </g>
                <defs>
                <clipPath id="clip0_1344_51507">
                <rect width="20" height="20" fill="white" transform="translate(0 0.5)"/>
                </clipPath>
                </defs>
            </svg>
        <span class="time"></span>
        </div>
    </div>
</div>
