---
const {
	tagline,
	title,
	description,
	slug
} = Astro.props;
---

<aside class="inline-callout stacked">
	<span class="eyebrow">{ tagline }</span>
	<a href={`${slug}`} class="title box-link">{ title }</a>
	<div class="description">{ description }</div>
</aside>
