---
const {
	tagline,
	title,
	description,
	slug
} = Astro.props;
---

<aside class="inline-callout">
	<span class="inline-callout__tag">{ tagline }</span>
	<a href={`${slug}`} class="inline-callout__title box-link">{ title }</a>
	<div class="inline-callout__description">{ description }</div>
</aside>
