---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a
    href={href}
    class="nav-link relative hover:!no-underline group text-2xl md:text-3xl font-medium transition-all duration-300 ease-in-out"
    class:list={[className, { active: isActive }]}
    {...props}
>
    <slot />
    <svg
        class={isActive ? 'opacity-100' : 'opacity-0 group-hover:opacity-100 absolute w-full mx-auto bottom-[-14px] transition-opacity duration-300'}
        viewBox="0 0 82 13"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M44.3804 0.0228069C45.5829 -0.0398616 46.6846 0.361017 46.9304 0.950894L48.3971 4.46764C48.4609 4.44914 48.5265 4.43206 48.5942 4.41646C49.3207 4.24881 50.1683 4.27624 50.8441 4.48928L50.9085 4.5096L51.3903 3.57642C51.638 3.09696 52.4612 2.74574 53.4498 2.69796C54.4379 2.65016 55.3796 2.91609 55.8044 3.36302L56.0345 3.60473C56.4347 3.43892 56.9426 3.33999 57.4845 3.33319C58.4268 3.3214 59.2918 3.59043 59.684 4.01734L61.3324 5.81085L64.6386 1.8475C65.0218 1.38829 65.9428 1.09843 66.9387 1.12362C67.9346 1.14881 68.7902 1.48358 69.0754 1.95969L70.7831 4.81227L71.3101 4.4728C71.682 4.23312 72.219 4.07745 72.8033 4.03057L72.802 2.7749C72.8015 2.22576 73.5641 1.74904 74.6383 1.62679C75.713 1.50452 76.8129 1.76928 77.2875 2.26446L81.6601 6.82434C82.2214 7.40971 81.7235 8.11174 80.5483 8.3922C79.3735 8.67286 77.9658 8.42595 77.4045 7.84057L77.347 7.78037C77.0605 8.12918 76.4456 8.39882 75.6714 8.48421C74.5899 8.60366 73.4883 8.33209 73.024 7.83124L72.6618 7.44097L71.7008 8.06034C71.1597 8.40897 70.2728 8.57802 69.4042 8.49768C68.5351 8.41755 67.8296 8.10178 67.5771 7.67978L66.449 5.79613L63.6122 9.19662C63.2521 9.6282 62.4139 9.9128 61.4767 9.92164C60.5396 9.93047 59.6815 9.66186 59.2914 9.23744L57.4991 7.28696C57.1113 7.43842 56.63 7.52907 56.1172 7.53706C55.3722 7.54891 54.6724 7.38463 54.2159 7.10473C53.964 7.25969 53.634 7.38246 53.2517 7.45805C52.6512 7.57703 51.9845 7.56743 51.4052 7.43595L50.6273 10.1587C50.4658 10.724 49.5128 11.1504 48.3677 11.1693C47.2231 11.1884 46.2178 10.7945 45.9845 10.2355L45.6342 9.39605C45.5026 9.42695 45.3633 9.45231 45.2185 9.47104C44.1768 9.60584 43.0851 9.37229 42.5651 8.90333L39.1952 5.86508L34.6548 9.02827C34.1935 9.34968 33.4395 9.53441 32.6479 9.51981C31.8562 9.50542 31.1326 9.29374 30.7218 8.9563L29.3615 7.83942L28.7525 9.7677C28.5933 10.2719 27.7997 10.6678 26.7883 10.7475C25.7768 10.8271 24.7787 10.5725 24.3179 10.1172L19.6808 5.5362L17.1917 10.7798C16.9349 11.3209 15.9529 11.6989 14.8382 11.6859C13.7233 11.6726 12.7806 11.2721 12.5784 10.7257L11.6558 8.23154L10.1544 10.7443C9.84003 11.2705 8.83725 11.6187 7.73865 11.5831C6.64006 11.5476 5.73813 11.1378 5.56585 10.596L5.24844 9.59737L4.7091 11.7416C4.54709 12.3858 3.3683 12.8432 2.0762 12.7635C0.784101 12.6838 -0.132019 12.0969 0.0299942 11.4526L2.63717 1.0865C2.78325 0.505619 3.76442 0.0662245 4.93855 0.0558735C6.11268 0.0455224 7.1218 0.467391 7.30556 1.04536L8.59931 5.11526L9.93692 2.87661C10.2482 2.35573 11.2347 2.00852 12.3231 2.03684C13.4114 2.06517 14.3178 2.46162 14.5154 2.99575L15.1842 4.80355L16.581 1.86099C16.8092 1.38027 17.6157 1.02148 18.5996 0.962958C19.5835 0.904459 20.5349 1.1587 20.9809 1.59931L25.2328 5.79982L25.7056 4.30257C25.8595 3.81508 26.6078 3.42695 27.579 3.33085C28.5502 3.23476 29.5375 3.45117 30.0508 3.87265L32.9013 6.21313L37.5363 2.98405C38.0074 2.65581 38.7831 2.47065 39.5909 2.49361C40.3987 2.51656 41.1259 2.74442 41.5171 3.09717L42.2668 3.77294L42.2642 1.19405C42.2636 0.591389 43.1775 0.0854758 44.3804 0.0228069Z"
            fill="currentColor"
        />
    </svg>
</a>
