---
import { Image } from 'astro:assets';
import { PROFILE_IMAGES } from '../consts';

const random = Astro.props.random ? Astro.props.random : false;

function getRandom() {
    return Math.floor(Math.random() * PROFILE_IMAGES.length);
}

const active = random ? getRandom() : 0;
const selectedImage = PROFILE_IMAGES[active];
---

<div
    class="profile"
>
    <div class="profile__image-container">
        <Image
            class="profile__image"
            src={selectedImage.src}
            alt={selectedImage.alt}
            loading="eager"
        />
    </div>
</div>
