---
import { TESTIMONIALS } from "../consts";
import { Image } from "astro:assets";
const testimonials = TESTIMONIALS;
const randomTestimonial =
  testimonials[Math.floor(Math.random() * testimonials.length)];
---

<section
  class="testimonials border p-[var(--space-l)] border-[var(--color-dark)]"
>
  <h2 class="sr-only">Testimonials</h2>
  <div class="flex flex-col h-full" style="--gutter: 24px;">
    <div class="h-full">
      <div
        class="testimonial flex flex-col gap-[var(--space-l)]"
        id={randomTestimonial.id}
      >
        <div
          class="testimonial__text intro border-l-2 border-dark/20 pl-[var(--space-m)]"
        >
          {randomTestimonial.description}
        </div>
        <div class="flex gap-[8px] uppercase font-bold">
          <span>{randomTestimonial.name}</span> /{" "}
          <span>{randomTestimonial.company}</span>
        </div>
      </div>
    </div>
  </div>
</section>
