---
import { TESTIMONIALS } from "../consts";
import { Image } from "astro:assets";
const testimonials = TESTIMONIALS;
const randomTestimonial =
	testimonials[Math.floor(Math.random() * testimonials.length)];
---

<section class="testimonials border md:p-[var(--space-m)] bg-black text-white">
	<h2 class="sr-only">Testimonials</h2>
	<div class="flex flex-col h-full" style="--gutter: 24px;">
		<div class="h-full">
			<div class="testimonial flex gap-[16px]" id={randomTestimonial.id}>
				<div class="testimonial__content flex flex-col gap-[var(--space-m)]">
					<p class="testimonial__text text-[18px] leading-[1.6] font-light">
						{randomTestimonial.description}
					</p>
					<div class="flex gap-[8px] uppercase font-bold">
						<span>{randomTestimonial.name}</span> /{" "}
						<span>{randomTestimonial.company}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
