---
import BigLink from './BigLink.astro';
---

<section class="writing-cta">
	<div class="content stacked">
		<span class="availability eyebrow">Available</span>
		<h2>Want me to write <strong>for you?</strong></h2>
		<p>Technical articles, documentation, developer-facing content. If you need someone who can write about CSS and actually knows what they're talking about then let's talk.</p>
	</div>

	<BigLink
    href={`mailto:hi@dominickjay.com`}
    text={`Get in touch`}
  />
</section>
