html {
    @apply font-main text-[62.5%];
}

body {
  @apply fl-text-step-0;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
    .h1 {
        @apply fl-text-step-5 fl-mb-m;
    }

    .h2 {
      @apply fl-text-step-4 fl-mb-s;
    }

    .h3 {
      @apply fl-text-step-3 fl-mb-xs;
    }

    .h4 {

    }

    .heading {
      @apply font-heading leading-[1] font-bold tracking-[-0.04em];
    }

    .highlight {
      background-color: var(--background, #010f0a);
      color: var(--text, #ffffff);
      @apply p-[2px_10px] inline-block;
    }

    .post-body h3 {
      @apply heading fl-text-step-3 fl-mt-m fl-mb-s;
    }

    .post-body h2 {
      @apply heading fl-text-step-4 fl-mt-l fl-mb-m;
    }

    .post-body h4 {
      @apply heading fl-text-step-2 fl-mt-s fl-mb-xs;
    }

    .post-body ol {
      @apply list-decimal pl-[20px] flex flex-col gap-y-[5px];
    }

    .post-body iframe {
      @apply fl-my-l;
    }

    .post-body img {
      @apply fl-my-l mx-auto;
    }

    a:not([class]) {
      @apply underline hover:underline-offset-2 relative;
    }
}