<div class="hero h-screen max-h-[450px] md:max-h-[650px] relative fl-pb-l md:fl-pb-3xl">
	<div class="container flex flex-col mdw:site-grid h-full">
		<div
			class="block absolute h-[calc(100%_-_60px)] left-0 top-0 w-full text-black hero-symbols overflow-hidden"
			x-data="{
				height: $el.offsetHeight,
				width: $el.offsetWidth
			}"
			x-on:resize.window="{
				height: $el.offsetHeight,
				width: $el.offsetWidth
			}"
		>
			{% set classes = "absolute bg-[#fafafa] rounded-full" %}
			<div
				x-data="{
					y: 250,
					x: 200,
					init() {
						this.y = this.randomY();
						this.x = this.randomX();
					},
					randomY(){
						var max = Math.floor(this.height / 2);
						return Math.floor(Math.random() * (max - 0) + 0);
					},
					randomX(){
						var max = Math.floor(this.width / 2);
						return Math.floor(Math.random() * (max - 0) + 0);
					}
				}"
				:style="{ top: y + 'px', left: x + 'px' }"
				class="{{ classes }} w-[70.5px] md:w-[150px] h-[70.5px] md:h-[150px]"
				style="--delay: 0.4s"
			>
			</div>
			<div
				x-data="{
					y: 250,
					x: 200,
					init() {
						this.y = this.randomY();
						this.x = this.randomX();
					},
					randomY(){
						var max = Math.floor(this.height / 2);
						return Math.floor(Math.random() * (max - 0) + 0);
					},
					randomX(){
						var max = Math.floor(this.width / 2);
						return Math.floor(Math.random() * (max - 0) + 0);
					}
				}"
				:style="{ top: y + 'px', right: x + 'px' }"
				class="{{ classes }} w-[92.5px] md:w-[185px] h-[92.5px] md:h-[185px]"
				style="--delay: 0.8s"
			>
			</div>
			<div
				x-data="{
					y: 250,
					x: 200,
					init() {
						this.y = this.randomY();
						this.x = this.randomX();
					},
					randomY(){
						var max = Math.floor(this.height - 180);
						var min = Math.floor(this.height / 2);
						return Math.floor(Math.random() * (max - min) + min);
					},
					randomX(){
						var max = Math.floor(this.width / 2);
						return Math.floor(Math.random() * (max - 0) + 0);
					}
				}"
				:style="{ top: y + 'px', left: x + 'px' }"
				class="{{ classes }} w-[30px] md:w-[60px] h-[30px] md:h-[60px]"
				style="--delay: 0.12s"
			>
			</div>
			<div
				x-data="{
					y: 250,
					x: 200,
					init() {
						this.y = this.randomY();
						this.x = this.randomX();
					},
					randomY(){
						var max = Math.floor(this.height - 180);
						var min = Math.floor(this.height / 2);
						return Math.floor(Math.random() * (max - min) + min);
					},
					randomX(){
						var max = Math.floor(this.width);
						var min = Math.floor(this.width / 2);
						return Math.floor(Math.random() * (max - min) + min);
					}
				}"
				:style="{ top: y + 'px', left: x + 'px' }"
				class="{{ classes }} w-[30px] md:w-[60px] h-[30px] md:h-[60px] shadow-circles"
				style="--delay: 0.16s"
			>
			</div>
		</div>
		<div class="col-start-2 col-span-8 z-[1] pt-[180px] mdw:pt-[280px]">
			<h1 class="h1 heading ml-auto mdw:ml-0 max-w-[500px] mdw:max-w-none !text-[50px] !mdw:text-[70px] mdw:!text-[100px] !leading-[0.75] text-right font-black">leave it <span class="highlight typed">better</span><br /> than you found it</h1>
		</div>
	</div>
</div>