---
title: '365 Albums'
layout: 'default.njk'
---
<div class="col-start-1 col-span-full flex flex-col-reverse mdw:grid grid-cols-8 mdw:fl-py-3xl">
    <section class="col-start-1 col-span-5 row-start-1">
        <h1 class="hidden mdw:block h1 heading !text-[70px] mdw:!text-[80px] font-bold tracking-[-0.04em] !leading-[0.85]">{{ title | lower }}</h1>

        {% set postslist = collections.music365 %}
        {% set postslistCounter = collections.music365 | length %}

        <ol
            reversed
            class="fl-pt-xl"
            style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}"
        >
            {% for post in postslist | reverse %}
                <li class="">
                    <div class="flex flex-col gap-y-[10px] justify-start items-start">
                        <a
                            href="{{ post.url | url }}"
                            class="fl-text-step-2 font-bold relative w-full py-[25px] fl-px-l group flex items-center justify-center overflow-hidden aspect-[16/6]"
                        >
                          <img class="absolute object-cover object-center h-full w-full group-hover:blur-md duration-[0.25s] transition-all" src="{{ post.data.albumArt }}" loading="lazy" />
                          <div class="absolute bg-black/[0.35] h-full w-full"></div>
                          <div class="flex gap-y-[5px] flex-col items-center justify-center">
                            <span class="text-white heading fl-text-step-1 relative">{{ post.date | readableDate() }}</span>
                            <span class="text-white heading relative text-center" style="text-wrap: balance">{{ post.data.title }}</span>
                          </div>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </section>
</div>
