.home-hero-shape {
    animation: followpath 45s linear infinite;
    animation-direction: reverse
}

.home-hero-shape--1 {
    offset-path: path("M381 1.5H915.5V760.5H381C171.408 760.5 1.5 590.592 1.5 381C1.5 171.408 171.408 1.5 381 1.5Z");;
}

.home-hero-shape--2 {
    offset-path: path("M381 758C589.211 758 758 589.211 758 381C758 172.789 589.211 4 381 4C172.789 4 4 172.789 4 381C4 589.211 172.789 758 381 758ZM381 762C591.42 762 762 591.42 762 381C762 170.58 591.42 0 381 0C170.58 0 0 170.58 0 381C0 591.42 170.58 762 381 762Z");
    animation-delay: 5s;
}

@keyframes followpath {
    50% {
        motion-offset: 100%;
        offset-distance: 100%;
    }
}