<div class="hero min-h-0 mdw:min-h-[580px] max-h-[calc(100vh-40px)]">
	<div class="container flex flex-col mdw:site-grid h-full">
		<div class="hidden mdw:block absolute h-full left-0 top-0 w-full text-black overflow-hidden">
			<div class="home-hero-shape home-hero-shape--1 bg-red h-[10px] w-[10px] absolute -top-[381px] right-[717px] rounded-full"></div>
			<div class="home-hero-shape home-hero-shape--2 bg-orange h-[10px] w-[10px] absolute top-[381px] -left-[381px] rounded-full"></div>
			<svg class="absolute -top-[381px] -right-[190px]" width="917" height="762" viewBox="0 0 917 762" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M381 1.5H915.5V760.5H381C171.408 760.5 1.5 590.592 1.5 381C1.5 171.408 171.408 1.5 381 1.5Z" stroke="black" stroke-opacity="0.08" stroke-dasharray="8" stroke-width="3"/>
			</svg>

			<svg class="hidden mdw:block absolute top-[381px] -left-[381px] hero-shape" width="762" height="762" viewBox="0 0 762 762" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M760 381C760 590.316 590.316 760 381 760C171.684 760 2 590.316 2 381C2 171.684 171.684 2 381 2C590.316 2 760 171.684 760 381Z" stroke="black" stroke-opacity="0.08" stroke-width="3" stroke-dasharray="8"/>
			</svg>
		</div>
		<div class="col-start-2 col-span-8 z-[1] pt-[180px] mdw:pt-[280px]">
			<h1 class="h1 heading ml-auto mdw:ml-0 max-w-[500px] mdw:max-w-none !text-[70px] mdw:!text-[100px] !leading-[0.75] text-right font-black">{{ heading | lower | safe }}</h1>
		</div>
	</div>
</div>