<section>
	<div class="container flex flex-col mdw:site-grid relative mdw:place-content-center">
		<div class="col-start-1 col-span-full z-[1] relative">
			<ul class="flex gap-x-[40px] w-full justify-between">
				{% for item in navigation.main %}
				<li
					class="w-full"
					data-aos="fade-up" data-aos-easing="delay-slide" data-aos-duration="1500" data-aos-delay="100" data-aos-offset="0"
				>
					<a
						href="{{ item.url}}"
						class="p-[80px] text-center bg-black border-[2px] border-dashed ease-in-out transition-colors group hover:bg-white rounded-br-[40px] w-full flex items-center justify-center">
						<span
							class="text-white/[0.9] font-bold heading fl-text-step-2 group-hover:text-black"
						>
							{{ item.text }}
						</span>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>