<div class="hero min-h-0 mdw:min-h-[580px] max-h-[calc(100vh-40px)]">
	<div class="container flex flex-col mdw:site-grid h-full">
		<div class="hidden mdw:block absolute h-full left-0 top-0 w-full text-black overflow-hidden">
			<div class="home-hero-shape home-hero-shape--1 bg-red h-[10px] w-[10px] absolute -top-[381px] right-[717px] rounded-full"></div>
			<div class="home-hero-shape home-hero-shape--2 bg-orange h-[10px] w-[10px] absolute top-[381px] -left-[381px] rounded-full"></div>
			<svg class="absolute -top-[381px] -right-[190px]" width="752" height="752" viewBox="0 0 752 752" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="376.001" cy="376" r="370" transform="rotate(31.0061 376.001 376)" stroke="url(#paint0_linear_222_49)" stroke-opacity="0.3" stroke-width="10" stroke-dasharray="2 14"/>
				<defs>
					<linearGradient id="paint0_linear_222_49" x1="376.001" y1="1.00003" x2="339.001" y2="751" gradientUnits="userSpaceOnUse">
						<stop stop-color="#BFC3CA"/>
						<stop offset="1" stop-color="#E63946"/>
					</linearGradient>
				</defs>
			</svg>
			<svg class="hidden mdw:block absolute top-[381px] -left-[381px] rotate-180" width="752" height="752" viewBox="0 0 752 752" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="376.001" cy="376" r="370" transform="rotate(31.0061 376.001 376)" stroke="url(#paint0_linear_222_49)" stroke-opacity="0.3" stroke-width="10" stroke-dasharray="2 14"/>
				<defs>
					<linearGradient id="paint0_linear_222_49" x1="376.001" y1="1.00003" x2="339.001" y2="751" gradientUnits="userSpaceOnUse">
						<stop stop-color="#BFC3CA"/>
						<stop offset="1" stop-color="#E63946"/>
					</linearGradient>
				</defs>
			</svg>
		</div>
		<div class="col-start-2 col-span-8 z-[1] pt-[180px] mdw:pt-[280px]">
			<h1 class="h1 heading ml-auto mdw:ml-0 max-w-[500px] mdw:max-w-none !text-[70px] mdw:!text-[100px] !leading-[0.75] text-right font-black">leave it <span class="highlight typed">better</span><br /> than you found it</h1>
		</div>
	</div>
</div>