<section class="relative">
    <div class="container flex flex-col mdw:site-grid fl-py-3xl relative">
        <div class="col-start-3 col-span-7 z-[1] relative">
            <div class="fl-text-step-2 font-medium">
                {{ intro }}
            </div>
        </div>
    </div>
</section>