<section class="h-screen max-h-[675px]">
    <div class="container flex flex-col mdw:site-grid h-full fl-py-3xl relative mdw:place-content-center">
        <div class="col-start-5 col-span-8 z-[1] relative" id="intro">
            <div class="relative flex flex-col">
                <h2 class="h2 heading !text-[80px] text-red">Hello!</h2>
                <div class="p fl-text-step-1 font-medium text-left">{{ intro | safe }}</div>
            </div>
        </div>
    </div>
</section>