---
title: 'leave it better than you found it'
metaDesc: 'Dominick Jay is an experienced creative Front-End Developer from Plymouth, UK, that specializes in fun, creative solutions.'
layout: 'layouts/home.njk'
---
