---
permalink: /feed.xml
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ site.url }}/">
  <title>{{ site.name }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.baseURL }}/feed.xml" rel="self" />
  <link href="{{ site.baseURL }}/" />
  {% set postslist = collections.writing %}
  <updated>{{ postslist | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.baseURL }}/</id>
  <author>
    <name>{{ site.author }}</name>
    <email>{{ site.authorEmail }}</email>
  </author>
  {%- for post in postslist %} {%- set absolutePostUrl = post.url | absoluteUrl(site.baseURL)
  %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content
      xml:lang="{{ site.locale }}"
      type="html"
      >{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content
    >
  </entry>
  {%- endfor %}
</feed>