---
title: 'dom jay | front end developer'
intro: 'I`m Dom 👋 I`m a <span class="highlight">Front-End Developer</span> based out of Plymouth, UK. I specialise in creating digital solutions that are fun and creative. I don`t like speaking about myself in the 3rd person.'
layout: home
shareimage: "default.jpg"
---
