<style>
    .root {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        position: relative;
    }

    .heading {
        color: #010f0a;
        font-size: 80px;
        letter-spacing: -0.04em;
        font-weight: 700;
        padding-left: 40px;
        padding-right: 80px;
        line-height: 4.5rem;
    }

    .tagline {
        position: absolute;
        bottom: 40px;
        right: 20px;
        color: #010f0a;
        font-size: 40px;
        margin: auto 0;
        letter-spacing: -0.04em;
        line-height: 1;
        font-weight: 700;
    }
</style>

<div class="root relative">
    <div class="absolute top-[20px] left-[20px] flex">
        {% include "partials/icons/logo.svg" %}
    </div>
    <h1 class="heading">{{ title }}</h1>
    <h2 class="tagline">{{ siteName }}</h2>
</div>
