{% extends "layouts/main.njk" %}

{% block content %}
  {% include "partials/home/home--hero.njk" %}
  {% include "partials/home/home--intro.njk" %}
  {% include "partials/layout--recent-posts.njk" %}
{% endblock %}
