---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="pb-[128px]">
    <slot />
  </body><script
    data-goatcounter="https://dominickjay.goatcounter.com/count"
    async
    src="//gc.zgo.at/count.js"></script>
</html>
