name: "Generate and publish weekly link post"
on:
  schedule:
    - cron: 0 0 1 * *
  push:
    branches:
      - astro
jobs:
  generate-post:
    name: "Run script to generate post"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "npm"
      - run: npm install
      - run: npm generate-links
        env:
          RAINDROP_TOKEN: ${{ secrets.RAINDROP_API_KEY }}
          RAINDROP_COLLECTION_ID: ${{ secrets.RAINDROP_BOOKMARKS }}
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Generate weekly link post
