<div
    class="flex flex-col gap-y-2"
>
    <time
        class="text-black/[0.8]"
        datetime="{{ post.date | htmlDateString }}"
    >
        {{ post.date | readableDate  }}
    </time>
    <a
        class="fl-text-step-1 font-medium hover:underline hover:underline-offset-2"
        href="{{ post.url | url }}"
    >
    {% if post.data.title %}
        {{ post.data.title }}
    {% else %}
        <code>
            {{ post.url }}
        </code>
    {% endif %}
    </a>
</div>
