{% set postslist = collections.writing %}
{% set postslistCounter = collections.writing | length %}

<section class="recent-posts relative">
	<div class="wrapper flex flex-col mdw:site-grid fl-py-3xl relative">
		<div class="col-start-1 col-end-7 fl-py-l">
			<h2 class="h2 heading">Recently Published</h2>
			<ol class="list-none fl-py-m" role="list">
				{% for post in postslist | reverse | limit(5) %}
					<li class="fl-mt-m first:mt-0">
						{% set cardType = 'thin' %}
						{% include "partials/card.njk" %}
					</li>
				{% endfor %}
			</ol>
		</div>
		<div class="col-start-9 col-end-13 fl-py-l flex flex-col h-full justify-between">
			<div class="flex flex-col">
				<h3 class="h2 heading">Categories</h3>
				<ul class="cluster fl-mt-xs" role="list" style="--flow-space: 1.5rem; --space-s-l: 10px">
					{% for tag in collections.tagsList %}
						{% if tag != 'writing' %}
							<li>
								{% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
								<a
									href="{{ tagUrl | url }}"
									class="category"
								>
									{{ tag }}
								</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>