{% set pageTitle = title %}

{% set siteTitle = site.name %}
{% set currentUrl = site.baseURL + page.url %}

{% set metaDescription = metaDesc %}

{% if not metaDesc %}
  {% set metaDescription = site.description %}
{% endif %}


{# If the page’s frontmatter has specific metaTitle and/or metaDesc items, switch
  them into the mix #}
{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

<title>{{ pageTitle | lower }}</title>
<link rel="canonical" href="{{ currentUrl }}" />

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{% if socialImage %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="{{ socialImage }}" />
  <meta name="twitter:image" content="{{ socialImage }}" />
  <meta property="og:image:alt" content="Page image for {{ site.name }}" />
  <meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
{% endif %}

{% if metaDescription %}
  <meta name="description" content="{{ metaDescription }}" />
  <meta name="twitter:description" content="{{ metaDescription }}" />
  <meta property="og:description" content="{{ metaDescription }}" />
{% endif %}
